﻿<!DOCTYPE html>
<html lang="en-us" class="no-js">
<head>
    <title>HyDirect | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Olakunle David" />

    <!-- Favicon -->
    <link rel="icon" href="~/Content/files/assets/images/favicon.ico" type="image/x-icon">
    <link href="~/Content/files/extra-pages/404/1/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="image"></div>
    <!-- Your logo on the top left -->
    <a href="#" class="logo-link" title="back home">
        <img src="~/Content/Images/HyAdmin.png" class="logo" />
    </a>
    <div class="content">
        @RenderBody()
    </div>
    <script src="~/Content/files/extra-pages/404/1/js/jquery.min.js"></script>
    <script src="~/Content/files/extra-pages/404/1/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
