﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>HyDirect | @ViewBag.Title</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Dash Able bootstrap admin template suitable for any project backend need. It comes with lots of UI components, pages, plugins with easy to use well structured code." />
        <meta name="keywords" content="admin template, bootstrap admin template, bootstrap dashboard, admin theme, dashboard template, bootstrap dashboard template, bootstrap admin panel, dashboard theme, best admin template, dashboard theme, website templates, bootstrap 4 admin template" />
    *@
    <meta name="author" content="Olakunle David" />
    <!-- Favicon icon -->

    <link rel="icon" href="~/Content/files/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/Content/files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- feather icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/feather/css/feather.css">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/sweetalert/css/sweetalert.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/font-awesome-n.min.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/icofont/css/icofont.css">
    <!-- animation nifty modal window effects css -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/pages.css">
    <style>
        .hide {
            display: none;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- [ Header ] start -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo" style="background: #fff !important;">
                        <a href="#" class="logo-link" title="back home" style="display: block;padding-top: 10px;">
                            <img src="~/Content/Images/logo.png" class="logo" style="width: 100px;padding-top: 2px;" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container" style="background: #bee3fd;">
                <div class="pcoded-wrapper">

                    <div class="pcoded-content-fluid">

                        @RenderBody()

                    </div>

                    <!-- Main-body end -->
                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="~/Content/files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="~/Content/files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="~/Content/files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="~/Content/files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="~/Content/files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Content/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="~/Content/files/assets/js/pace.min.js"></script>*@
    <!-- waves js -->
    <script src="~/Content/files/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Content/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/css-scrollbars.js"></script>
    <!-- sweet alert js -->
    <script type="text/javascript" src="~/Content/files/bower_components/sweetalert/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Scripts/modal.js"></script>
    <!-- sweet alert modal.js intialize js -->
    <!-- modalEffects js nifty modal window effects -->
    <script src="~/Content/files/assets/js/classie.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/js/modalEffects.js"></script>
    @*<script src="~/Content/files/assets/js/pcoded.min.js"></script>*@
    @*<script src="~/Content/files/assets/js/vertical/vertical-layout.min.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <!-- Custom js -->
    @*<script type="text/javascript" src="~/Content/files/assets/js/script.js"></script>*@
    @RenderSection("scripts", required: false)
</body>

</html>
