﻿@using HyAdmin.Models.ViewModels
@{
    ViewBag.Title = "PasswordSelection";
    Layout = "~/Views/Shared/_Semi.cshtml";
}

<style>
    input, select {
        font-size: 12px !important;
    }

    .float-label {
        color: #333 !important;
    }

    .hide {
        display: none !important;
    }
</style>
<section class="login-block" style="margin-top: -29px;">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                @using (Html.BeginForm("PasswordSelection", "Account", FormMethod.Post, new { @class = "md-float-material form-material" }))
                {
                    <div class="text-center">
                        <br /><br />
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left">Create your password</h3>
                                    <img src="~/Content/Images/loading-balls.svg" class="loading hide" style="width: 40px;position: relative;left: 90%;top: -40px;" />
                                </div>
                            </div>

                            <div class="message">
                                @if (ViewBag.ErrorMessage != null)
                                {
                                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                                }
                            </div>

                            <div class="form-group form-default form-static-label user-click-error">
                                <input type="text" name="userid" id="userid" class="form-control" required="" disabled="disabled" value="@Model.UserId">
                                <span class="form-bar"></span>
                                <label class="float-label">User ID</label>
                            </div>
                            <div class="alert alert-warning userid-validation hide" style="font-size: 12px;float: right;position: relative;top: -16px;padding: 5px;border-radius: 0px 0px 4px 4px;">
                                <span>Non editable field</span>
                            </div>
                            <br style="clear: both;" />

                            <div class="form-group form-info form-static-label">
                                <input type="text" name="password" id="password" class="form-control" oninput="ValidatePasword()" placeholder="Type password here" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Password</label>
                            </div>
                            <div class="alert alert-warning password-validation hide" style="font-size: 12px;float: right;position: relative;top: -16px;padding: 5px;border-radius: 0px 0px 4px 4px;">
                                <ul>
                                    <li>At least one UPPER case character</li>
                                    <li>At least one lower case character</li>
                                    <li>At least six characters</li>
                                    <li>At least one digit</li>
                                </ul>
                            </div>
                            <br style="clear: both;" />

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="g-recaptcha" data-sitekey="6Lf5U1MUAAAAAGaKUHbAlr-CbqN9uE_OtB0gTMaG"></div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 set" href="javascript:void(0);">Set Password</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <br />
                                </div>
                                <div class="col-md-6 text-right">
                                    <img src="~/Content/Images/logo.png" style="width: 100px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a class="hide" data-url="@Url.Action("PasswordSelection", "Account")" id="passwordSelectionURL"></a>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
@section scripts {
    <script>
        var CustomerId = "@Model.Id";
        var UserId = "@Model.UserId";
        $(document).ready(function () {
            $('#password').focus();
        });
        $('.set').click(function () {
            var password = $('#password').val();
            var captcha = $('#g-recaptcha-response').val();
            var guid = getParameterByName('guid');

            $('.loading').removeClass('hide');
            $.ajax({
                type: 'POST',
                url: $('#saveDataURL').data('url'),
                data: '{ "CustomerId" : "' + CustomerId + '", "UserId" : "' + UserId + '", "Password" : "' + password + '", "Captcha" : "' + captcha + '",  "Guid" : "' + guid + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (re) {
                    $('.loading').addClass('hide');
                    try { re = $.parseJSON(re); } catch (e) { }
                    
                    if (re.Success === true) {
                        $('.message').html("<div class='alert alert-success'>Password Change Successful</div>");
                        setTimeout(function () {
                            location.href = "https://online.hygeiahmo.com/hydirect/pages/login.aspx?userid=" + UserId;
                        }, 1000);
                    }
                    else {
                        url = $('#passwordSelectionURL').data('url');
                        try {
                            var message = $.parseJSON(re.Message);
                            message = message.message;
                        } catch (e) {
                            message = re.Message;
                        }
                        $('.message').html("<div class='alert alert-danger'>" + message + "</div>");
                        url = url + "/" + ((url.indexOf(CustomerId) !== -1) ? "" : (CustomerId + "/")) + "?guid=" + guid + "&cf=" + message;
                        location.href = url;
                    }
                }
            });
        });
        function ValidatePasword(id) {
            var password = $('#password').val();
            var m;
            if (!(m = password.match(/[a-z]/g))) { ShowPasswordValidation(false); return false; }
            if (!(m = password.match(/[A-Z]/g))) { ShowPasswordValidation(false); return false; }
            if (!(m = password.match(/[0-9]/g))) { ShowPasswordValidation(false); return false; }
            if (password.length < 6) { ShowPasswordValidation(false); return false; }
            ShowPasswordValidation(true);
            return true;
        }
        $('.user-click-error').click(function () { ShowUserIDValidation(); });
        function ShowUserIDValidation() {
            $('.userid-validation').removeClass('hide');

            setTimeout(function () {
                $('.userid-validation').addClass('hide');
            }, 3000);
        }
        function ShowPasswordValidation(passed) {
            if (passed === false)
                $('.password-validation').removeClass('hide');
            else {
                $('.password-validation').addClass('hide');
            }
        }
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
}

