﻿
@{
    ViewBag.Title = "HyAdmin | Dashboard| Sales";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Dashboard</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Sales</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">CredEquity</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .pull-right {
        float: right !important;
    }

    .empty-notification {
        padding: 42px;
        font-weight: lighter;
        font-size: 34px;
    }

    .card .card-block .dropdown-menu > a {
        padding: 4px 7px;
        line-height: 1.429;
    }

    .link-text {
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
    }

    #category_data tr td {
        padding-bottom: 11px !important;
    }
    .btn-sm {
        padding: 9px;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="category_name">Time Frame</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input class="form-control date" id="start" type="date" data-format="yyyy-mm-dd" value="@Convert.ToDateTime($"{DateTime.Now.Year}-01-01").ToString("yyyy-mm-dd")" placeholder="Start Date" />
                                        </div>

                                        <div class="col-lg-4">
                                            <input class="form-control date" id="end" type="date" data-format="yyyy-mm-dd" placeholder="End Date" />
                                        </div>

                                        <div class="col-lg-4">
                                            <a class="btn btn-sm btn-block btn-primary" style="color: #FFF;" onclick="GetDashData()">Go&nbsp;<i class="fa fa-download"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="benefit_name">Title</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-lg-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="benefit_name">Title</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="benefit_name">Title</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="dataURL" class="hide" data-url="@Url.Action("RetailGraduatedPlanTPeriods", "TimePeriod")"></a>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
    {
        @Html.AntiForgeryToken()
    }
</div>


@section scripts{

    <!-- data-table js -->
    <script src="~/Content/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script>

        function GetDashData() {
            var benefitProceduresURL = $('#benefitProceduresURL').data('url');
            var benefitCodeId = parseInt($('#benefits').val());
            var timePeriodId = parseInt($('#time_periods').val());

            var planId = $('#plans').val();
            if (benefitCodeId == -1) {
                alert('Select a benefit');
                return;
            }
            if (planId == -1) {
                alert('Select a plan');
                return;
            }
            if (timePeriodId == -1) {
                alert('Select a time period');
                return;
            }


            $T1 = $('#existing_procedures');
            try {
                $T1.DataTable().clear();
                $T1.DataTable().destroy();
            } catch (e) { console.log(e); }

            $T2 = $('#non_added_procedures');
            try {
                $T2.DataTable().clear();
                $T2.DataTable().destroy();
            } catch (e) { console.log(e); }

            $.getJSON(benefitProceduresURL + "?benefitCodeId=" + benefitCodeId + "&planId=" + planId + "&timePeriodId=" + timePeriodId, function (data) {
                data = $.parseJSON(data.Result);
                existing = data.existing;
                nonSetup = data.nonSetup;

                var existing_procedures = '';
                for (var i = 0; i < existing.length; i++) {
                    $('#benefit_name').text($("#benefits option:selected").text());
                    existing_procedures += "<tr><td>" + existing[i].procedureCode + "</td><td>" + existing[i].procedureDesc +
                        "</td><td><input type='checkbox' id='ex_" + existing[i].procedureCode + "' class='ex switch' checked /></td></tr>";
                }
                $('#existing_procedures tbody').html(existing_procedures);

                var non_added_procedures = '';
                for (var i = 0; i < nonSetup.length; i++) {
                    non_added_procedures += "<tr><td>" + nonSetup[i].procedurecode + "</td><td>" + nonSetup[i].proceduredesc +
                        "</td><td><input type='checkbox' id='nex_" + nonSetup[i].procedurecode + "' class='nex switch' /></td></tr>";
                }
                $('#non_added_procedures tbody').html(non_added_procedures);

                $('#ctrl-ex').html('<input type="checkbox" id="ctrl_existing_procedures" class="ctrl-ex switch" checked />')
                $('#ctrl-nex').html('<input type="checkbox" id="ctrl_non_added_procedures" class="ctrl-nex switch" />')

                $('.switch').each(function () {
                    var switchery = new Switchery(this, { color: '#4099ff', jackColor: '#fff' });
                });

                setTimeout(function () {
                    try {
                        $T1 = $('#existing_procedures');
                        $T1.DataTable({
                            buttons: [
                                {
                                    extend: 'print',
                                    title: 'Report   ',
                                    //text: '<i class="fa fa-print"></i> Print',
                                    //title: $('h1').text(),
                                    exportOptions: {
                                        //columns: ':not(.no-print)'
                                        columns: ':visible', stripNewlines: true
                                    },

                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    footer: false
                                },
                                {
                                    extend: 'excelHtml5', title: 'Report', footer: true, exportOptions: {
                                        columns: ':visible', stripNewlines: false
                                    },
                                    orientation: 'landscape',
                                    pageSize: 'LEGAL',
                                },
                                {
                                    extend: 'pdfHtml5', title: 'Report',
                                    columns: ':visible',
                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',

                                    footer: false
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    },
                                    postfixButtons: ['colvisRestore']
                                },
                                {
                                    extend: 'pageLength', footer: false, exportOptions: {
                                        stripNewlines: false
                                    }
                                },
                            ],
                            iDisplayLength: 25,
                            lengthMenu: [[10, 25, 50, -1],
                            ['10', '25', '50', ' all']
                            ],
                            pagingType: "full_numbers",
                            deferRender: true,

                        });
                    } catch (e) { console.log(e); }

                    try {
                        $T2 = $('#non_added_procedures');
                        $T2.DataTable({
                            buttons: [
                                {
                                    extend: 'print',
                                    title: 'Report   ',
                                    //text: '<i class="fa fa-print"></i> Print',
                                    //title: $('h1').text(),
                                    exportOptions: {
                                        //columns: ':not(.no-print)'
                                        columns: ':visible', stripNewlines: true
                                    },

                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    footer: false
                                },
                                {
                                    extend: 'excelHtml5', title: 'Report', footer: true, exportOptions: {
                                        columns: ':visible', stripNewlines: false
                                    },
                                    orientation: 'landscape',
                                    pageSize: 'LEGAL',
                                },
                                {
                                    extend: 'pdfHtml5', title: 'Report',
                                    columns: ':visible',
                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',

                                    footer: false
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    },
                                    postfixButtons: ['colvisRestore']
                                },
                                {
                                    extend: 'pageLength', footer: false, exportOptions: {
                                        stripNewlines: false
                                    }
                                },
                            ],
                            iDisplayLength: 25,
                            lengthMenu: [[10, 25, 50, -1],
                            ['10', '25', '50', ' all']
                            ],
                            pagingType: "full_numbers",
                            deferRender: true,

                        });
                    } catch (e) { console.log(e); }
                }, 350);
            });
        }

        $(document).ready(function () {

            var dataURL = $('#dataURL').data('url');
            $.getJSON(dataURL, function (data) {
                data = $.parseJSON(data.Result);
            });
        });

       
    </script>
}



