﻿
@{
    ViewBag.Title = "CDRMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">CDR</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Members</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>View CDR Member</h5>
                            </div>
                            <div class="card-block">
                                <div id="list-of-cdr-members">
                                    <table id="view-cdr-members-table" style="width:100%; font-size:12px;" class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>EnrolleeNo</th>
                                                <th>Group</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>LastRefilDate</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Hygeia</td>
                                                <td>112</td>
                                                <td>HMO</td>
                                                <td>aa@gmail.com</td>
                                                <td>123456789</td>
                                                <td>19th February</td>
                                                <td><button id='btnView' class='btn btn-primary btn-sm' type='button' onclick="showProvider()">View</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="show-member-history" style="display:none">
                            <div class="card" style="height:400px;">
                                <div class="card-header">
                                    <h5>History</h5>
                                </div>
                                <div class="card-body p-b-0">

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-sm-4" id="show-providers" style="display:none;">

                        <div class="card" style="height:500px">
                            <div class="card-header">
                                <h5>Providers</h5>
                            </div>
                            <div class="card-body p-b-0">


                            </div>
                        </div>
                        <div class="card" style="height:500px;">
                            <div class="card-header">
                                <h5>Procedures</h5>
                            </div>
                            <div class="card-body p-b-0">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <!-- data-table js -->
    <script src="~/Content/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="~/Content/files/assets/pages/data-table/extensions/row-reorder/js/row-reorder-custom.js"></script>
    <script>

        //$('#btnView').click(function (e) {
        //    e.preventDefault();
        //    showProvider();
        //})
        
            $('#view-cdr-members-table').DataTable();
    
        var showProvider = function () {
            $('#show-providers').show();
            $('#show-member-history').show();
            $('#show-member-procedures').show();

        };
    </script>
}

