﻿@{
    ViewBag.Title = "CDR";
}

<!-- Select 2 css -->
<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
<!-- Cropper css -->
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/cropper/css/cropper.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Retail Products</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Sales</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Capture New Merchant Sale</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .btn {
        color: #fff !important;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
                {
                    @Html.AntiForgeryToken()


                    <div id="upload-cdr-file" class="page hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="margin-top:20px; margin-left:15px">
                                    <div class="card-header">
                                        <h5>Upload CDR File</h5>
                                    </div>
                                    <div class="card-body p-b-0">
                                        <h6>Upload CSV File</h6>
                                        <div style="background: whitesmoke;padding: 13px;border: 1px solid #CCC;">
                                            <input id="file-name" type="file" />
                                            <button id="btnUpload" style="float:right" class="btn btn-primary btn-sm" type="submit">Upload <i class="fa fa-upload"></i></button>
                                        </div>
                                        <h5 style="padding-top:14px;"><a href="#">Sample CSV Upload File</a></h5>
                                        <div id="sample-upload" style="padding-top:25px">
                                            <table id="sample-cdr-upload-table" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>EnrolleeNumber</th>
                                                        <th>DependantId</th>
                                                        <th>ProcedureCode</th>
                                                        <th>ProviderId</th>
                                                        <th>Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                        <td>4</td>
                                                        <td>5</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="empty-container">
                                    <div class="card table-card" id="display-cdr-table-card" style="padding-bottom: 24px;height: 575px;margin-right:15px; margin-top:20px;">
                                        <div class="card-block p-b-0" style="margin-top: -20px; /*padding: 30px;*/">
                                            <div id="empty-content-upload" style="padding: 0px 25px 0px 20px; margin-top: 250px;">
                                                <h5 id="upload-preview" style="text-align:center">Upload to Preview</h5>
                                                <div id="show-cdr-upload" class="hide">
                                                    <table class="table table-striped" id="csv-table">
                                                        <thead>
                                                            <tr>
                                                                <th>EnrolleeNumber</th>
                                                                <th>DependantId</th>
                                                                <th>ProcedureCode</th>
                                                                <th>ProviderId</th>
                                                                <th>Qty</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <div class="hide" id="button-visibility" style="margin-right:10px; padding-top:12px; padding-left:530px">
                                                    <button id="btn-submit-uploaded-cdr-file" type="submit" class="btn btn-success btn-sm">Save <i class="fa fa-upload"></i></button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="flagged-items" class="page hide">


                        <div class="card table-card" style="margin-top:30px; margin-left:20px; margin-right:20px;">
                            <div class="card-header">
                                <h4>Flagged Items</h4>
                            </div>
                            <div class="card-body p-b-0" style="padding: 30px;overflow-x: auto;">

                                <div id="flagged-items-list">
                                    <table id="flag-items-table" style="font-size:12px; width:100%" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>EnrolleeNo</th>
                                                <th>Name</th>
                                                <th>GroupName</th>
                                                <th>ProviderName</th>
                                                <th>ProcedureCode</th>
                                                <th>Qty</th>
                                                <th>ProcedureDesc</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Region</th>
                                                <th>Register</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div id="cdr-management" class="page hide">
                        <div class="card hide" style="margin-top:20px; margin-left:15px; margin-right:15px;">
                            <div class="card-body p-b-0" style="padding-top: 5px;overflow-x: auto;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card" style="margin-top:35px;">
                                            <div class="card-header">
                                                <h4>Add CDR Procedure</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-4" style="padding-top:7px">
                                                        <label>Select Procedure</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select class="js-example-placeholder-multiple form-control" multiple="multiple" id="select-procedure" style="width: 100%;">
                                                            <option value="1">Choose A Procedure</option>
                                                            <option value="2">Surgery</option>
                                                            <option value="3">Medical</option>
                                                            <option></option>
                                                        </select>

                                                    </div>
                                                    <div class="col-sm-3">
                                                        <button id="btn-submit-cdr-procedure" style="height:37px" class="btn btn-primary btn-sm" type="submit">Add <i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>

                                                <div id="list-of-added-procedures" style="padding-top:30px">
                                                    <h6>List of Added Procedure</h6>
                                                    <div id="procedure-list" style="padding-top:15px">
                                                        <table id="procedure-list-table" class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Added Procedures</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="card" style="margin-top:35px;">
                                            <div class="card-header">
                                                <h4>Add CDR Provider</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-4" style="padding-top:7px;">
                                                        <label>Select Provider</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select class="js-example-placeholder-multiple form-control" multiple="multiple" id="select-provider" style="width: 100%;">
                                                            <option value="1">Choose A Provider</option>
                                                            <option value="2">Hospital</option>
                                                            <option value="3">Hospital</option>
                                                            <option value="4">Provider</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <button id="btn-submit-cdr-provider" style="height:37px" class="btn btn-primary btn-sm" type="submit">Add <i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>

                                                <div id="list-of-existing-providers" style="padding-top:30px">
                                                    <h6>Exsiting Providers</h6>
                                                    <div id="providers-list" style="padding-top:15px">
                                                        <table id="providers-list-table" class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Selected Providers</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card" style="margin-top:35px; margin-left:17px">
                                    <div class="card-header">
                                        <h5>Assign CDR Procedure</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4" style="padding-top:5px;">
                                                <label>EnrolleeNo</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <input id="get-legacy-code-for-procedure" class="form-control" type="text" placeholder="LegacyCode" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input id="get-dependant-id-for-procedure" class="form-control" type="text" placeholder="DepId" />
                                            </div>

                                        </div>

                                        <div class="row" style="padding-top:17px;">
                                            <div class="col-md-4" style="padding-top:7px;">
                                                <label>Select Procedure</label>
                                            </div>
                                            <div class="col-md-6">
                                                <select id="assign-member-procedure" class="js-example-placeholder-multiple form-control" multiple="multiple" style="width: 100%;">
                                                    <option value="1">Procedure</option>
                                                    <option value="2">Procedure</option>
                                                    <option value="3">Procedure</option>
                                                    <option value="4">Procedure</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div style="margin-top:8px; padding-top:15px; padding-left:432px">
                                            <button id="btn-assign-cdr-procedure" class="btn btn-primary btn-sm" type="submit">Save <i class="fa fa-save"></i></button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="card" style="margin-top:35px; margin-right:17px;">
                                    <div class="card-header">
                                        <h5>Assign CDR Provider</h5>
                                    </div>
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-sm-4" style="padding-top:7px;">
                                                <label>Enrollee No</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <input id="get-legacy-code-for-provider" class="form-control" type="text" placeholder="Legacy Code" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input id="get-dependant-id-for-provider" class="form-control" type="text" placeholder="DepId" />
                                            </div>
                                            @*<div class="col-sm-6">
                                                    <select id="assign-cdr-member" class="js-example-placeholder-multiple form-control" multiple="multiple" style="width: 100%;">
                                                        <option value="1">Member</option>
                                                        <option value="2">Member</option>
                                                        <option value="3">Member</option>
                                                        <option value="4">Member</option>
                                                    </select>
                                                </div>*@
                                        </div>

                                        <div class="row" style="padding-top:17px;">
                                            <div class="col-sm-4" style="padding-top:7px;">
                                                <label>Select Provider</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select id="assign-cdr-provider" class="js-example-placeholder-multiple form-control" multiple="multiple" style="width: 100%;">
                                                    <option value="1">Choose A Provider</option>
                                                    <option value="2">Lagoon Hospital</option>
                                                    <option value="3">Faith City Hospital</option>
                                                    <option value="4">Saint Clara Hospital</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div style="margin-top:8px;padding-top:15px; padding-left:432px">
                                            <button id="btn-assign-cdr-providers" class="btn btn-primary btn-sm" type="submit">Save <i class="fa fa-save"></i></button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div id="view-cdr-members" class="page hide">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="card" style="margin-top:30px;">
                                    <div class="card-header">
                                        <h5>View CDR Member</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="list-of-cdr-members">
                                            <table id="view-cdr-members-table" style="width:100%; font-size:12px;" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>EnrolleeNo</th>
                                                        <th>Group</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>LastRefilDate</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="show-member-history" class="card hide" style="height:500px">
                                    <div class="card-header">
                                        <h5>History</h5>
                                    </div>
                                    <div class="card-body p-b-0">

                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-5 hide" id="show-providers">

                                <div class="card" style="margin-top:30px;margin-right:25px;height:1270px; padding-left:30px;">
                                    <div class="card-body p-b-0" style="padding-right:45px">
                                        <div class="card" style="height:550px; margin-top:30px;">
                                            <div class="card-header">
                                                <h5>Providers</h5>
                                            </div>
                                            <div class="card-body p-b-0">


                                            </div>
                                        </div>
                                        <div class="card" style="height:550px; margin-top:60px">
                                            <div class="card-header">
                                                <h5>Procedures</h5>
                                            </div>
                                            <div class="card-body p-b-0">

                                            </div>
                                        </div>

                                    </div>

                                </div>



                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-sm-7">
                                    <div id="show-member-history" class="card hide"style="margin-left:25px;height:400px;">

                                    </div>
                                </div>
                            </div>*@
                    </div>

                    <div id="reports" class="page hide">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card" style="margin-top:20px; margin-left:15px">
                                    <div class="card-header">
                                        <h5>All CDR List</h5>
                                    </div>
                                    <div class="card-block">
                                        <div>
                                            <table id="cdr-reports-table" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Procedure</th>
                                                        <th>Last Refill</th>
                                                        <th>Qty</th>
                                                        <th>Member</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="margin-top:20px;margin-right:15px">
                                    <div class="card-header">
                                        <h5>CDR Members</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="list-of-cdr-members">
                                            <table id="cdr-members-table" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Person</th>
                                                        <th>Group</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Provider</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hide">
                        <a href="#" id="post-cdr-uploads" data-url="@Url.Action("UploadCDREntry", "CDR")"></a>
                        <a href="#" id="post-added-cdr-procedures" data-url="@Url.Action("AddCDRProcedures", "CDR")"></a>
                        <a href="#" id="post-added-cdr-providers" data-url="@Url.Action("AddCDRProviders", "CDR")"></a>
                        <a href="#" id="post-assigned-cdr-procedures" data-url="@Url.Action("AssignCDRProcedures", "CDR")"></a>
                        <a href="#" id="post-assigned-cdr-providers" data-url="@Url.Action("AssignCDRProviders", "CDR")"></a>
                    </div>
                }

            </div>
        </div>
    </div>

    @section scripts{

        <script>
            var form = $('#formUrl');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            setTimeout(function () {
                $(document).ready(function () {
                    $(".js-example-placeholder-multiple").select2({
                        placeholder: "Select"
                    });
                });
            }, 350);

        </script>

        <script>
            //dataTables
            $('#cdr-reports-table').DataTable({
                dom: 'Bfrtip'
            });
            $('#cdr-members-table').DataTable({
                dom: 'Bfrtip'
            });
            //----------------------------------//

            //HardCoded Data to display on tables
            var addedProcedure = {
                addProcedure: 'Medical'
            }

            var addedProcedure1 = {
                addProcedure: 'Medical'
            }

            var viewProviders = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders1 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders2 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders3 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders4 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders5 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders6 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders7 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders8 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var viewProviders9 = {
                name: 'Name',
                enrolleeNo: 34,
                group: 90,
                email: 'aa@gmail.com',
                phone: '098765432',
                lastRefillDate: '19th Feb. 2019'
            }
            var flaggedItems = {
                enrolleeNo: 1,
                name: 'Abraham',
                groupName: 'CDR',
                providerName: 'Lagoon Hospital',
                procedureCode: 1111,
                qty: 12,
                description: 'Drugs',
                email: 'abraham@gmail.com',
                phone: '08137196562',
                region: 'South West'
            };

            var flagItems1 = {
                enrolleeNo: 2,
                name: 'Hygeia',
                groupName: 'Enrollees',
                providerName: 'Faith Hospital',
                procedureCode: 1145,
                qty: 13,
                description: 'Injection',
                email: 'Hygeaihmo.com',
                phone: '08137196562',
                region: 'South South'
            }

            var addProcedureArray = [addedProcedure, addedProcedure1];
            var flagArray = [flaggedItems, flagItems1];
            var providersArray = [viewProviders, viewProviders1, viewProviders2, viewProviders3, viewProviders4, viewProviders5, viewProviders6, viewProviders7, viewProviders8, viewProviders9];
            var data = "";
            var res = "";
            var result = "";
            $(function () {

                for (var i = 0; i < flagArray.length; i++) {
                    res += "<tr><td>" + flagArray[i].enrolleeNo
                        + "</td><td>" + flagArray[i].name
                        + "</td><td>" + flagArray[i].groupName
                        + "</td><td>" + flagArray[i].providerName
                        + "</td><td>" + flagArray[i].procedureCode
                        + "</td><td>" + flagArray[i].qty
                        + "</td><td>" + flagArray[i].description
                        + "</td><td>" + flagArray[i].email
                        + "</td><td>" + flagArray[i].phone
                        + "</td><td>" + flagArray[i].region
                        + "</td><td><button class='btn btn-primary btn-sm'><i class='fa fa-check'></i></button"
                        + "</td><td><button class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></button>" + "</td></tr>"
                }
                $('#flag-items-table').append(res);
                $('#flag-items-table').DataTable({
                    dom: 'Bfrtip'
                });


                for (var i = 0; i < providersArray.length; i++) {
                    data += "<tr><td>" + providersArray[i].name
                        + "</td><td>" + providersArray[i].enrolleeNo
                        + "</td><td>" + providersArray[i].group
                        + "</td><td>" + providersArray[i].email
                        + "</td><td>" + providersArray[i].phone
                        + "</td><td>" + providersArray[i].lastRefillDate
                        + "</td><td><button id='btnView' class='btn btn-primary btn-sm' type='button' onclick='showProvider()'>View</button" + "</td></tr>"
                }
                $('#view-cdr-members-table').append(data);
                $('#view-cdr-members-table').DataTable({
                    dom: 'Bfrtip'
                });


            })
            //------------------//


            //Navigation of Pages
            $('.page-nav').click(function () {
                var id = $(this).data('id');
                GotoPage(id);
            });
            function GotoPage(id) {
                $('.page').addClass('hide');
                if (id === 'upload-cdr') {
                    $('#upload-cdr-file').show();
                    $('#cdr-management').hide();
                    $('#reports').hide();
                    $('#view-cdr-members').hide();
                    $('#flagged-items').hide();
                };

                if (id === 'manage-cdr') {
                    $('#cdr-management').show();
                    $('#upload-cdr-file').hide();
                    $('#reports').hide();
                    $('#view-cdr-members').hide();
                    $('#flagged-items').hide();
                };

                if (id === 'reports') {
                    $('#reports').show();
                    $('#cdr-management').hide();
                    $('#upload-cdr-file').hide();
                    $('#view-cdr-members').hide();
                    $('#flagged-items').hide();
                };
                if (id === 'cdr-members') {
                    $('#view-cdr-members').show();
                    $('#reports').hide();
                    $('#cdr-management').hide();
                    $('#upload-cdr-file').hide();
                    $('#flagged-items').hide();
                };
                if (id === 'flagged-items') {
                    $('#flagged-items').show();
                    $('#view-cdr-members').hide();
                    $('#reports').hide();
                    $('#cdr-management').hide();
                    $('#upload-cdr-file').hide();
                };

            }
            //----------------------------------------//

            var display = "";
            $('#btn-submit-cdr-procedure').click(function (e) {
                e.preventDefault();
                $("select.procedure").change(function () {
                    var selectedRecipient = $(this).children("option:selected").text();
                    //var arr = [];
                    //arr.push(selectedRecipient);
                    console.log(selectedRecipient);
                    for (var i = 0; i < arr.length; i++) {
                        display += "<tr><td>" + arr[i] + "</td><td><button class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></button>" + "</td></tr>"
                        $('#procedure-list-table').append(display);
                    }

                });
            });

            var showProvider = function (e) {
                $('#show-providers').show();
                $('#show-member-history').show();
                $('#show-member-procedures').show();
                e.preventDefault();
            };

            //Upload CDR
            var uploadDataArray = [];

            $('#btnUpload').click(function (e) {
                e.preventDefault();

                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv)$/;
                if (regex.test($("#file-name").val().toLowerCase())) {
                    $('#show-cdr-upload').show();
                    $('#empty-content-upload').css("margin-top", "50px");
                    $('#upload-preview').hide();

                    var rdr = new FileReader();
                    rdr.onload = function (e) {
                        var theRows = e.target.result.split("\n");
                        var newRow = "";
                        for (var row = 0; row < theRows.length; row++) {

                            var columns = theRows[row].split(",");
                            newRow += "<tr><td>" + columns[0] + "</td><td>" + columns[1] + "</td><td>" + columns[2] + "</td><td>" + columns[3] + "</td><td>" + columns[4] + "</td>";
                            uploadDataArray.push({
                                enrolleeNo: columns[0],
                                dependantId: columns[1],
                                procedureCode: columns[2],
                                providerId: columns[3],
                                qty: columns[4]
                            });
                        }

                        $('#csv-table').append(newRow);
                        $('#csv-table').DataTable({
                            dom: 'Bfrtip'
                        });
                        $('#button-visibility').show();
                    }
                    rdr.readAsText($("#file-name")[0].files[0]);
                }
                else {
                    alert("Please upload a valid CSV file.");

                }

            });
            //------------------------------------------------//


            $('#btn-submit-uploaded-cdr-file').click(function (e) {
                e.preventDefault();
                saveToDb(0);
            })

            var saveToDb = function (index) {
                if (index === uploadDataArray.length) {
                    alert('Processing complete');
                    return false;
                }

                var error = function (data) {
                    console.log(data);
                }
                var success = function (data) {
                    try { data = window.JSON.parse(data); } catch (e) { console.log(e); }
                    console.log(data);
                    saveToDb(++index);
                }
                var data = {
                    uploadArray: uploadDataArray[index],
                    __RequestVerificationToken: token
                }

                POSTToServer2($('#post-cdr-uploads').data('url'), data, success, error);
                console.log(uploadDataArray[index]);
            }


            $('#btn-submit-cdr-procedure').click(function (e) {
                e.preventDefault();
                saveCdrProcedureToDb(0);
            });



            var saveCdrProcedureToDb = function (index) {
                var procedureArray = [];

                $('#select-procedure option:selected').each(function () {
                    procedureArray.push($(this).val());
                })

                if (index === procedureArray.length) {
                    alert('Processing Complete');
                    return false;
                }

                var error = function (data) {
                    console.log(data);
                }
                var success = function (data) {
                    try { data = window.JSON.parse(data); } catch (e) { console.log(e); }
                    console.log(data);
                    saveCdrProcedureToDb(++index);
                }

                var data = {
                    procedure: procedureArray[index],
                    __RequestVerificationToken: token
                }
                POSTToServer2($('#post-added-cdr-procedures').data('url'), data, success, error);
                console.log(procedureArray);
            }


            $('#btn-submit-cdr-provider').click(function (e) {
                e.preventDefault();
                saveCdrProviderToDb(0);
            })

            var saveCdrProviderToDb = function (index) {
                var providerArray = [];

                $('#select-provider option:selected').each(function () {
                    providerArray.push($(this).val());
                })

                if (index === providerArray.length) {
                    alert('Processing Complete');
                    return false;
                }

                var error = function (data) {
                    console.log(data);
                }
                var success = function (data) {
                    try { data = window.JSON.parse(data); } catch (e) { console.log(e); }
                    console.log(data);
                    saveCdrProviderToDb(++index);
                }

                var data = {
                    provider: providerArray[index],
                    __RequestVerificationToken: token
                }

                POSTToServer2($('#post-added-cdr-providers').data('url'), data, success, error);

                //POSTToServer2($('#post-added-cdr-procedures').data('url'), data, success, error);
                console.log(providerArray);
            }


            $('#btn-assign-cdr-procedure').click(function (e) {
                e.preventDefault();
                var lgCode = $('#get-legacy-code-for-procedure').val();
                var depId = $('#get-dependant-id-for-procedure').val();
                assignCdrProcedure(lgCode, depId, 0);
            });

            var assignCdrProcedure = function (legacyCode, dependantId, procedureCode, index) {
                var assign = [];
                var assignMemberArray = [];
                var assignProcedureArray = [];

                $('#assign-member option:selected').each(function () {
                    assignMemberArray.push($(this).val());
                })
                console.log(assignMemberArray);
                $('#assign-member-procedure option:selected').each(function () {
                    assignProcedureArray.push($(this).val());
                })
                console.log(assignProcedureArray);
                assign.push({
                    assignMember: assignMemberArray,
                    assignProcedure: assignProcedureArray
                })

                console.log(assign);
                if (index === assign.length) {
                    alert('Processing Complete');
                    return false;
                }

                var error = function (data) {
                    console.log(data);
                }
                var success = function (data) {
                    try { data = window.JSON.parse(data); } catch (e) { console.log(e); }
                    console.log(data);
                    assignCdrProcedure(++index);
                }

                var data = {
                    assignArray: assign[index],
                    LegacyCode: legacyCode,
                    DependantId: dependantId,
                    ProcedureCode: procedureCode,
                    __RequestVerificationToken: token
                }
                POSTToServer2($('#post-assigned-cdr-procedures').data('url'), data, success, error);
                console.log(assignCdrProcedure);
            }


            $('#btn-assign-cdr-providers').click(function (e) {
                var legCode = $('#get-legacy-code-for-provider').val();
                var depenId = $('#get-dependant-id-for-provider').val();
                e.preventDefault();
                assignCdrProvider(legCode, depenId, 0);
            })
            var assignCdrProvider = function (legacyCode, dependantId, providerId, index) {
                var assignProvider = [];
                var assignMemberArray = [];
                var assignProviderArray = [];

                $('#assign-cdr-member option:selected').each(function () {
                    assignMemberArray.push($(this).val());


                })
                console.log(assignMemberArray);
                $('#assign-cdr-provider option:selected').each(function () {
                    assignProviderArray.push($(this).val());
                })

                assignProvider.push({
                    assignMember: assignMemberArray,
                    assignProcedure: assignProviderArray
                })

                console.log(assignProvider);
                if (index === assignProvider.length) {
                    alert('Processing Complete');
                    return false;
                }

                var error = function (data) {
                    console.log(data);
                }
                var success = function (data) {
                    try { data = window.JSON.parse(data); } catch (e) { console.log(e); }
                    console.log(data);
                    assignCdrProcedure(++index);
                }

                var data = {
                    assignArray: assignProvider[index],
                    LegacyCode: legacyCode,
                    DependantId: dependantId,
                    ProviderId: providerId,
                    __RequestVerificationToken: token
                }
                POSTToServer2($('#post-assigned-cdr-providers').data('url'), data, success, error);
                console.log(assignCdrProcedure);
            }


            var getProviders = function () {

                var error = function (data) {
                    console.log(data);
                }

                var success = function (data) {
                    try { data = window.JSON.parse(data); } catch (e) { console.log(e); }

                    console.log(data);
                }

                var data = {
                    __RequestVerificationToken: token
                }
                POSTToServer2($('#post-assigned-cdr-providers').data('url'), data, success, error);
            }

        </script>

    }
