﻿
@{
    ViewBag.Title = "ManageCDR";

}
<!-- Select 2 css -->
<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">CDR</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Manage</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="card hide">
                        <div class="card-body p-b-0" style="padding-top: 5px;overflow-x: auto;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card" style="margin-top:35px;">
                                        <div class="card-header">
                                            <h4>Add CDR Procedure</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4" style="padding-top:7px">
                                                    <label>Select Procedure</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <select class="js-example-placeholder-multiple form-control" multiple="multiple" id="select-procedure" style="width: 100%;">
                                                        <option value="1">Choose A Procedure</option>
                                                        <option value="2">Surgery</option>
                                                        <option value="3">Medical</option>
                                                        <option></option>
                                                    </select>

                                                </div>
                                                <div class="col-sm-3">
                                                    <button id="btn-submit-cdr-procedure" style="height:37px" class="btn btn-primary btn-sm" type="submit">Add <i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>

                                            <div id="list-of-added-procedures" style="padding-top:30px">
                                                <h6>List of Added Procedure</h6>
                                                <div id="procedure-list" style="padding-top:15px">
                                                    <table id="procedure-list-table" class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Added Procedures</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card" style="margin-top:35px;">
                                        <div class="card-header">
                                            <h4>Add CDR Provider</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4" style="padding-top:7px;">
                                                    <label>Select Provider</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <select class="js-example-placeholder-multiple form-control" multiple="multiple" id="select-provider" style="width: 100%;">
                                                        <option value="1">Choose A Provider</option>
                                                        <option value="2">Hospital</option>
                                                        <option value="3">Hospital</option>
                                                        <option value="4">Provider</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button id="btn-submit-cdr-provider" style="height:37px" class="btn btn-primary btn-sm" type="submit">Add <i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>

                                            <div id="list-of-existing-providers" style="padding-top:30px">
                                                <h6>Exsiting Providers</h6>
                                                <div id="providers-list" style="padding-top:15px">
                                                    <table id="providers-list-table" class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Selected Providers</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Assign CDR Procedure</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4" style="padding-top:5px;">
                                            <label>EnrolleeNo</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="get-legacy-code-for-procedure" class="form-control" type="text" placeholder="LegacyCode" />
                                        </div>
                                        <div class="col-sm-2">
                                            <input id="get-dependant-id-for-procedure" class="form-control" type="text" placeholder="DepId" />
                                        </div>

                                    </div>

                                    <div class="row" style="padding-top:17px;">
                                        <div class="col-md-4" style="padding-top:7px;">
                                            <label>Select Procedure</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select id="assign-member-procedure" class="js-example-placeholder-multiple form-control" multiple="multiple" style="width: 100%;">
                                                <option value="1">Procedure</option>
                                                <option value="2">Procedure</option>
                                                <option value="3">Procedure</option>
                                                <option value="4">Procedure</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div style="margin-top:8px; padding-top:15px; padding-left:640px">
                                        <button id="btn-assign-cdr-procedure" class="btn btn-primary btn-sm" type="submit">Save <i class="fa fa-save"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Assign CDR Provider</h5>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-4" style="padding-top:7px;">
                                            <label>Enrollee No</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="get-legacy-code-for-provider" class="form-control" type="text" placeholder="Legacy Code" />
                                        </div>
                                        <div class="col-sm-2">
                                            <input id="get-dependant-id-for-provider" class="form-control" type="text" placeholder="DepId" />
                                        </div>
                                    </div>

                                    <div class="row" style="padding-top:17px;">
                                        <div class="col-sm-4" style="padding-top:7px;">
                                            <label>Select Provider</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="assign-cdr-provider" class="js-example-placeholder-multiple form-control" multiple="multiple" style="width: 100%;">
                                                <option value="1">Choose A Provider</option>
                                                <option value="2">Lagoon Hospital</option>
                                                <option value="3">Faith City Hospital</option>
                                                <option value="4">Saint Clara Hospital</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div style="margin-top:8px;padding-top:15px; padding-left:640px">
                                        <button id="btn-assign-cdr-providers" class="btn btn-primary btn-sm" type="submit">Save <i class="fa fa-save"></i></button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                }



            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <a href="#" id="post-assigned-cdr-procedures" data-url="@Url.Action("AssignCDRProcedures", "CDR")"></a>
    <a href="#" id="post-assigned-cdr-providers" data-url="@Url.Action("AssignCDRProviders", "CDR")"></a>
</div>


@section scripts{
    <script type="text/javascript" src="~/Content/files/bower_components/select2/js/select2.full.min.js"></script>


    <script>
        var form = $('#formUrl');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        setTimeout(function () {
            $(document).ready(function () {
                $(".js-example-placeholder-multiple").select2({
                    placeholder: "Select"
                });
            });
        }, 350);
    </script>

    <script>
        var assignCdrProcedure = function (legacyCode, dependantId, procedureCode, index) {
            var assign = [];
            var assignMemberArray = [];
            var assignProcedureArray = [];

            $('#assign-member option:selected').each(function () {
                assignMemberArray.push($(this).val());
            })
            console.log(assignMemberArray);
            $('#assign-member-procedure option:selected').each(function () {
                assignProcedureArray.push($(this).val());
            })
            console.log(assignProcedureArray);
            assign.push({
                assignMember: assignMemberArray,
                assignProcedure: assignProcedureArray
            })

            //console.log(assign);
            if (index === assign.length) {
                alert('Processing Complete');
                return false;
            }
            var assignCDRProceduresURL = $('#post-assigned-cdr-procedures').data('url');
            $.ajax({
                url: assignCDRProceduresURL,
                type: "POST",
                data: {
                    assignArray: assign[index],
                    LegacyCode: legacyCode,
                    DependantId: dependantId,
                    ProcedureCode: procedureCode,
                    __RequestVerificationToken: token
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                    assignCdrProcedure(++index);
                },
                error: function (msg) { console.log(msg); }
            });

        }

        $('#btn-assign-cdr-procedure').click(function (e) {
            e.preventDefault();
            var lgCode = $('#get-legacy-code-for-procedure').val();
            var depId = $('#get-dependant-id-for-procedure').val();
            assignCdrProcedure(lgCode, depId, 0);
        });


            var assignCdrProvider = function (legacyCode, dependantId, providerId, index) {
                var assignProvider = [];
                var assignMemberArray = [];
                var assignProviderArray = [];

                $('#assign-cdr-member option:selected').each(function () {
                    assignMemberArray.push($(this).val());


                })
                console.log(assignMemberArray);
                $('#assign-cdr-provider option:selected').each(function () {
                    assignProviderArray.push($(this).val());
                })

                assignProvider.push({
                    assignMember: assignMemberArray,
                    assignProcedure: assignProviderArray
                })

                console.log(assignProvider);
                if (index === assignProvider.length) {
                    alert('Processing Complete');
                    return false;
                }
                var assignCDRProvidersURL = $('#post-assigned-cdr-providers').data('url');
                $.ajax({
                    url: assignCDRProvidersURL,
                    type: "POST",
                    data: {
                        assignArray: assignProvider[index],
                        LegacyCode: legacyCode,
                        DependantId: dependantId,
                        ProcedureCode: procedureCode,
                        __RequestVerificationToken: token
                    },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(data);
                        assignCdrProvider(++index);
                    },
                    error: function (msg) { console.log(msg); }
                });


            }

            $('#btn-assign-cdr-providers').click(function (e) {
                e.preventDefault();
                var legCode = $('#get-legacy-code-for-provider').val();
                var depenId = $('#get-dependant-id-for-provider').val();

                assignCdrProvider(legCode, depenId, 0);
            })
    </script>


}

