﻿
@{
    ViewBag.Title = "TPS Management";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Third Party Sales Mgmt.</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">TPS Management</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Requests</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .pull-right{
        float: right !important;
    }
    .empty-notification{
        padding: 42px;
        font-weight: lighter;
        font-size: 34px;
    }
    .card .card-block .dropdown-menu > a {
        padding: 4px 7px;
        line-height: 1.429;
    }
    .link-text{
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
    }
    #category_data tr td {
        padding-bottom: 11px !important;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-2">

                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-auto p-r-0">
                                        <i class="fas fa-angle-double-up text-c-green f-24"></i>
                                    </div>
                                    <div class="col text-left">
                                        <h5 class="text-c-green m-b-0" id="activation_count">0</h5>
                                        <p class="m-b-0">Activation Requests</p>
                                    </div>
                                </div>
                                <a class="btn btn-success btn-sm text-white pull-right" onclick="DisplayCategryData('Activation Requests');"><i class="fa fa-eye-open m-r-10"></i>View Requests</a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-auto p-r-0">
                                        <i class="fas fa-sync-alt text-c-blue f-24"></i>
                                    </div>
                                    <div class="col text-left">
                                        <h5 class="text-c-blue m-b-0" id="reactivation_count">0</h5>
                                        <p class="m-b-0">Re-Activation Requests</p>
                                    </div>
                                </div>
                                <a class="btn btn-primary btn-sm text-white pull-right" onclick="DisplayCategryData('Re-Activation Requests');"><i class="fa fa-eye-open m-r-10"></i>View Requests</a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-auto p-r-0">
                                        <i class="fas fa-tags text-c-yellow f-24"></i>
                                    </div>
                                    <div class="col text-left">
                                        <h5 class="text-c-yellow m-b-0" id="suspension_count">0</h5>
                                        <p class="m-b-0">Suspension Requests</p>
                                    </div>
                                </div>
                                <a class="btn btn-warning btn-sm text-white pull-right" onclick="DisplayCategryData('Suspension Requests');"><i class="fa fa-eye-open m-r-10"></i>View Requests</a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-auto p-r-0">
                                        <i class="fas fa-ban text-c-red f-24"></i>
                                    </div>
                                    <div class="col text-left">
                                        <h5 class="text-c-red m-b-0" id="termination_count">0</h5>
                                        <p class="m-b-0">Termination Requests</p>
                                    </div>
                                </div>
                                <a class="btn btn-danger btn-sm text-white pull-right" onclick="DisplayCategryData('Termination Requests');"><i class="fa fa-eye-open m-r-10"></i>View Requests</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="category_name">Activation Requests</h5>

                            </div>
                            <div class="card-block">
                                <div class="card-scroll" style="height: 500px;overflow: auto;">
                                    <div class="table-responsive">
                                        <div>
                                            <div class="btn-group dropdown-split-primary btn-group-sm pull-right">
                                                <button class="btn btn-primary btn-sm" type="button"><i class="fas fa-exchange-alt"></i>Bulk Actions</button>
                                                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown">
                                                    <span class="sr-only">Toggle primary</span>
                                                </button>
                                                <div class="dropdown-menu" style="left: 0px; top: 0px; position: absolute; transform: translate3d(113px, 44px, 0px);" x-placement="bottom-start">
                                                    <a class="dropdown-item waves-effect waves-light approve-all">Approve All</a>
                                                    <a class="dropdown-item waves-effect waves-light deny-all" href="#">Deny All</a>
                                                </div>
                                            </div>
                                        </div>

                                        <br /> <br />
                                        <table class="table table-hover table-framed m-b-0">
                                            <thead>
                                                <tr>
                                                    <th class="hide">#</th>
                                                    <th>&nbsp;</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Tranx Ref</th>
                                                    <th>Plan Id</th>
                                                    <th>Request Date</th>
                                                    <th>TPS Providers</th>
                                                    <th>Subscription Approved Date</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody id="category_data"></tbody>
                                        </table>
                                        <br /><br />

                                        <div>
                                            <div class="btn-group dropdown-split-primary btn-group-sm pull-right">
                                                <button class="btn btn-primary btn-sm" type="button"><i class="fas fa-exchange-alt"></i>Bulk Actions</button>
                                                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown">
                                                    <span class="sr-only">Toggle primary</span>
                                                </button>
                                                <div class="dropdown-menu" style="left: 0px; top: 0px; position: absolute; transform: translate3d(113px, 44px, 0px);" x-placement="bottom-start">
                                                    <a class="dropdown-item waves-effect waves-light approve-all">Approve All</a>
                                                    <a class="dropdown-item waves-effect waves-light deny-all" href="#">Deny All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a id="dataUrl" class="hide" data-url="@Url.Action("RequestsData", "TPSManagement")"></a>
    <a id="respondURL" class="hide" data-url="@Url.Action("Respond", "TPSManagement")"></a>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
    {
        @Html.AntiForgeryToken()
    }
</div>


@section scripts{

    <script>
        var dataUrl = $('#dataUrl').data('url');
        var categoryData;
        var btnClass;


        $(document).ready(function () {
            $.getJSON(dataUrl, function (data) {
                data = $.parseJSON(data.Result);
                categoryData = data;

                SetCounts();

                DisplayCategryData("Activation Requests");
            });
        });

        function SetCounts() {
            $('#activation_count').text(categoryData.activationRequests.length);
            $('#reactivation_count').text(categoryData.reActivationRequests.length);
            $('#suspension_count').text(categoryData.suspensionRequests.length);
            $('#termination_count').text(categoryData.tpsTerminationRequests.length);
        }
        
        function DisplayCategryData(category) {
            data = categoryData;
            console.log(data);
            switch (category) {
                case "Activation Requests":
                    FormatData(data.activationRequests, category);
                    break;
                case "Re-Activation Requests":
                    FormatData(data.reActivationRequests, category);
                    break;
                case "Suspension Requests":
                    FormatData(data.suspensionRequests, category);
                    break;
                case "Termination Requests":
                    FormatData(data.tpsTerminationRequests, category);
                    break;
            }
            $('#category_name').text(category);
        }

        function FormatData(data, category) {

            result = "";
            if (data.length == 0) {
                $('#category_data').html("<tr><td colspan='9'><p class='text-center text-muted empty-notification'><i class='far fa-sticky-note'></i>&nbsp;Nothing to show in this category.</td></tr>");
            }
            else {
                for (var i = 0; i < data.length; i++) {
                    result += "<tr id='" + i + "'>" +
                        "<td class='hide' id='" + data[i].requestId + "'>" + (i + 1) + "</td>" +
                        "<td>" +
                            "<div class='d-inline-block align-middle'>" +
                            "<img class='img-radius img-40 align-top m-r-15' alt='user image' style='margin-top: -12px;' src='" + data[i].image_link + "'>" +
                            "</div>" +
                        "</td > " +
                        "<td>" + data[i].firstname + "</td>" +
                        "<td>" + data[i].lastname + "</td>" +
                        "<td>" + data[i].trxn_ref + "</td>" +
                        "<td>" + data[i].planid + "</td>" +
                        "<td>" + data[i].requestDate + "</td>" +
                        "<td>" + data[i].name + "</td>" +
                        "<td>" + data[i].subscriptionApprovedDate + "</td>" +
                        "<td style='width:220px; !important;white-space:nowrap;'>" +
                        "<a class='text-success link-text' onclick='Respond(this, \"" + category + "\", true)'><i class='fas fa-check'></i>Approve</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                        "<a class='text-danger link-text single-action-progress' onclick='Respond(this, \"" + category + "\", false)'><i class='fas fa-ban'></i>Deny</span>" +
                        "</td>" +
                        "</tr>";
                }
                $('#category_data').html(result);
            }
        }

        function Respond(e, category, isApproved) {
            NotifyInfo('Operation in Pogress', '')

            $tr = $(e).parent().parent().parent();
            var id = $tr.find('td').first().prop('id');
            var form = $('#formUrl');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            
            $.post(
                $('#respondURL').data('url'),
                {
                    id: id,
                    category: category,
                    isApproved: isApproved,
                    comments: 'No Comments',
                    __RequestVerificationToken: token,
                }
            ).done(function (data) {
                try {
                    if (data.Success === true) {

                        var rowId = $tr.prop('id');
                        switch (category) {
                            case "Activation Requests":
                                categoryData.activationRequests.splice(parseInt(rowId), 1);
                                break;
                            case "Re-Activation Requests":
                                categoryData.reActivationRequests.splice(parseInt(rowId), 1);
                                break;
                            case "Suspension Requests":
                                categoryData.suspensionRequests.splice(parseInt(rowId), 1);
                                break;
                            case "Termination Requests":
                                categoryData.tpsTerminationRequests.splice(parseInt(rowId), 1);
                                break;
                        }
                        DisplayCategryData(category);

                        NotifySuccess('Operation Complete', 'Request was executed without any recorded errors.');
                    }
                    else {
                        NotifyDanger('Operation Failed', 'Something went wrong. Execution failed');
                    }
                }
                catch (e) {
                    console.log(e);
                    NotifyDanger('Operation Failed', 'Something went wrong. Unable to parse response');
                }
            }).fail(function () {
                console.log(e);
                NotifyDanger('Operation Failed', 'A network related error occurred.');
            });
        }
        
    </script>
}




