﻿
@{
    ViewBag.Title = "Time Periods";
}

<!-- Switch component css -->
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/switchery/css/switchery.min.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Retail Products</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Time Period</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Setup Graduated Limits</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .pull-right {
        float: right !important;
    }

    .empty-notification {
        padding: 42px;
        font-weight: lighter;
        font-size: 34px;
    }

    .card .card-block .dropdown-menu > a {
        padding: 4px 7px;
        line-height: 1.429;
    }

    .link-text {
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
    }

    #category_data tr td {
        padding-bottom: 11px !important;
    }
    select {
        margin-top: 4px;
        font-size: 14px !important;
        color: #000 !important;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="category_name">Setup Plan, Time Period, Limits</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <form class="form-material">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group form-primary">
                                                    <select id="plans" class="form-control" onchange="GetTimeMonetaryLimits()">
                                                        <option value="-1">Plan</option>
                                                    </select>
                                                    <span class="form-bar"></span>
                                                </div>

                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group form-primary">
                                                    <select id="time_periods" class="form-control" onchange="GetTimeMonetaryLimits()">
                                                        <option value="-1">Time Period</option>
                                                    </select>
                                                    <span class="form-bar"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group form-primary">
                                                    <input type="number" name="Amount" id="Amount" class="form-control" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Amount</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <a class="btn btn-small btn-primary" style="color: #FFF;" onclick="Save()">Save&nbsp;<i class="fa fa-save"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="PlanName">Existing Setup</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="money_limits" class="table table-borderless table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Time Period</th>
                                                        <th>Amount</th>
                                                        <th>
                                                            &nbsp;
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id=""></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Time Period</th>
                                                        <th>Amount</th>
                                                        <th>
                                                            &nbsp;
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a id="GPTPURL" class="hide" data-url="@Url.Action("RetailGraduatedPlanTPeriods", "TimePeriod")"></a>
    <a id="dataURL" class="hide" data-url="@Url.Action("GetTimeMonetaryLimits", "TimePeriod")"></a>
    <a id="SMTLURL" class="hide" data-url="@Url.Action("SaveTimeMonetaryLimits", "TimePeriod")"></a>
    <a id="UMTLURL" class="hide" data-url="@Url.Action("UpdateTimeMonetaryLimits", "TimePeriod")"></a>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
    {
        @Html.AntiForgeryToken()
    }
</div>


@section scripts{

    <!-- Switch component js -->
    <script src="~/Content/files/bower_components/switchery/js/switchery.min.js"></script>
    <!-- data-table js -->
    <script src="~/Content/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    @*<script src="~/Content/files/assets/pages/data-table/js/jszip.min.js"></script>
        <script src="~/Content/files/assets/pages/data-table/js/pdfmake.min.js"></script>
        <script src="~/Content/files/assets/pages/data-table/js/vfs_fonts.js"></script>*@
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var dataURL = $('#GPTPURL').data('url');
            $.getJSON(dataURL, function (data) {
                data = $.parseJSON(data.Result);

                FormatPlan(data.plans);
                FormatTimePeriod(data.timePeriods);
            });
        });
        function GetTimeMonetaryLimits() {
            var dataURL = $('#dataURL').data('url');

            var planId = $('#plans').val();
            var timePeriodId = parseInt($('#time_periods').val());
            var amount = parseFloat($('#Amount').val());

            if (planId == -1) {
                return;
            }
            if (timePeriodId == -1) {
                return;
            }

            $.getJSON(dataURL + "?planId=" + planId + "&timePeriodId=" + timePeriodId, function (data) {
                moneyLimits = $.parseJSON(data.Result).moneyLimits;
                
                var existing = '';
                for (var i = 0; i < moneyLimits.length; i++) {
                    //$('#PlanName').text($("#plans option:selected").text());
                    existing += "<tr id='" + moneyLimits[i].id + "'><td>" + moneyLimits[i].timePeriod + "</td><td>" + moneyLimits[i].amount +
                        "</td><td><input type='checkbox' id='ex_" + moneyLimits[i].id + "' class='ex switch' checked /></td></tr>";
                }
                $('#money_limits tbody').html(existing);

                $('.switch').each(function () {
                    var switchery = new Switchery(this, { color: '#4099ff', jackColor: '#fff' });
                });
            });
        }
        function FormatPlan(data) {
            var options = "";
            for (i = 0; i < data.length; i++)
                options += "<option value='" + data[i].planId + "'>" + data[i].planName + "</option>";
            $('#plans').append(options);
        }
        function FormatTimePeriod(data) {
            var options = "";
            for (i = 0; i < data.length; i++)
                options += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
            $('#time_periods').append(options);
        }
        function Save() {
            var dataURL = $('#SMTLURL').data('url');

            var planId = $('#plans').val();
            var timePeriodId = parseInt($('#time_periods').val());
            var amount = parseFloat($('#Amount').val());

            if (planId == -1) {
                alert('Select a plan');
                return;
            }
            if (timePeriodId == -1) {
                alert('Select a time period');
                return;
            }
            if (isNaN(amount)) {
                alert('Provide an amount');
                return;
            }

            $.getJSON(dataURL + "?planId=" + planId + "&timePeriodId=" + timePeriodId + "&amount=" + amount, function (data) {
                if (data.Success == true) {
                    data = $.parseJSON(data.Result);
                    console.log(data);

                    if (data.success === true) {
                        NotifySuccess('Operation Complete', 'Request was executed without any recorded errors.');
                    } else {
                        NotifyDanger('Operation Complete', data.message);
                    }
                }
                else {
                    data = $.parseJSON(data.Result);
                    NotifyDanger('Operation Failed', data.message);
                }
                GetTimeMonetaryLimits();
            });
        }
        $('body').on('change', '.switch', function () {
            $elem = $(this);
            $tr = $elem.parent().parent();

            var dataURL = $('#UMTLURL').data('url');
            $.getJSON(dataURL + "?id=" + $tr.prop("id") + "&status=false", function (data) {
                data = $.parseJSON(data.Result);

                if (data.success === true) {
                    NotifySuccess('Operation Complete', 'Request was executed without any recorded errors.');
                    GetTimeMonetaryLimits();
                }
                else {
                    data = $.parseJSON(data.Result);
                    NotifyDanger('Operation Failed', data.message);
                }
            });
        });
    </script>
}



