﻿
@{
    ViewBag.Title = "Time Periods";
}

<!-- Switch component css -->
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/switchery/css/switchery.min.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Retail Products</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Time Period</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Setup Graduated Benefits</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .pull-right {
        float: right !important;
    }

    .empty-notification {
        padding: 42px;
        font-weight: lighter;
        font-size: 34px;
    }

    .card .card-block .dropdown-menu > a {
        padding: 4px 7px;
        line-height: 1.429;
    }

    .link-text {
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
    }

    #category_data tr td {
        padding-bottom: 11px !important;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="category_name">Setup Plan, Time Period, Procedure</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <select id="plans" class="form-control" onchange="GetPlanBenefits(this.value)">
                                                <option value="-1">Select Plan</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-2">
                                            <select id="time_periods" class="form-control">
                                                <option value="-1">Select Time Period</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-2">
                                            <select id="benefits" class="form-control">
                                                <option value="-1">Select Benefit</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <a class="btn btn-primary" style="color: #FFF;" onclick="GetProcedures()">Fetch Procedures&nbsp;<i class="fa fa-download"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="benefit_name">Existing Procedure List</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="existing_procedures" class="table table-borderless table-striped">
                                                <thead>
                                                    <tr>

                                                        <th>Procedure Code</th>
                                                        <th>Procedure Description</th>
                                                        <th id="ctrl-ex">
                                                            <input type="checkbox" id="ctrl_existing_procedures" class="ctrl-ex switch" checked />
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id=""></tbody>
                                                <tfoot>
                                                    <tr>

                                                        <th>Procedure Code</th>
                                                        <th>Procedure Description</th>
                                                        <th>
                                                            Status
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card recent-operations-card">
                            <div class="card-header">
                                <h5 id="benefit_name">Procedures Not yet setup</h5>
                            </div>
                            <div class="card-block">
                                <div class="card-scroll">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="non_added_procedures" class="table table-borderless table-striped">
                                                <thead>
                                                    <tr>

                                                        <th>Procedure Code</th>
                                                        <th>Procedure Description</th>
                                                        <th id="ctrl-nex">
                                                            <input type="checkbox" id="ctrl_non_added_procedures" class="ctrl-nex switch" />
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id=""></tbody>
                                                <tfoot>
                                                    <tr>

                                                        <th>Procedure Code</th>
                                                        <th>Procedure Description</th>
                                                        <th>
                                                            Status
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="dataURL" class="hide" data-url="@Url.Action("RetailGraduatedPlanTPeriods", "TimePeriod")"></a>
    <a id="planBenefitsURL" class="hide" data-url="@Url.Action("PlanBenefits", "TimePeriod")"></a>
    <a id="benefitProceduresURL" class="hide" data-url="@Url.Action("BenefitProcedures", "TimePeriod")"></a>
    <a id="benefitLookUpURL" class="hide" data-url="@Url.Action("BenefitLookUp", "TimePeriod")"></a>
    <a id="procedureSetupURL" class="hide" data-url="@Url.Action("ProcedureSetup", "TimePeriod")"></a>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
    {
        @Html.AntiForgeryToken()
    }
</div>


@section scripts{

    <!-- Switch component js -->
    <script src="~/Content/files/bower_components/switchery/js/switchery.min.js"></script>
    <!-- data-table js -->
    <script src="~/Content/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script>
        var existing = [];
        var nonSetup = [];

        function GetPlanBenefits(id) {
            if (id == '-1')
                return;

            var planBenefitsURL = $('#planBenefitsURL').data('url');
            $.getJSON(planBenefitsURL + "/" + id, function (data) {
                data = $.parseJSON(data.Result);
                FormatBenefits(data.benefits);
            });

        }
        function GetProcedures() {
            var benefitProceduresURL = $('#benefitProceduresURL').data('url');
            var benefitCodeId = parseInt($('#benefits').val());
            var timePeriodId = parseInt($('#time_periods').val());

            var planId = $('#plans').val();
            if (benefitCodeId == -1) {
                alert('Select a benefit');
                return;
            }
            if (planId == -1) {
                alert('Select a plan');
                return;
            }
            if (timePeriodId == -1) {
                alert('Select a time period');
                return;
            }


            $T1 = $('#existing_procedures');
            try {
                $T1.DataTable().clear();
                $T1.DataTable().destroy();
            } catch (e) { console.log(e); }

            $T2 = $('#non_added_procedures');
            try {
                $T2.DataTable().clear();
                $T2.DataTable().destroy();
            } catch (e) { console.log(e); }

            $.getJSON(benefitProceduresURL + "?benefitCodeId=" + benefitCodeId + "&planId=" + planId + "&timePeriodId=" + timePeriodId, function (data) {
                data = $.parseJSON(data.Result);
                existing = data.existing;
                nonSetup = data.nonSetup;

                var existing_procedures = '';
                for (var i = 0; i < existing.length; i++) {
                    $('#benefit_name').text($("#benefits option:selected").text());
                    existing_procedures += "<tr><td>" + existing[i].procedureCode + "</td><td>" + existing[i].procedureDesc +
                        "</td><td><input type='checkbox' id='ex_" + existing[i].procedureCode + "' class='ex switch' checked /></td></tr>";
                }
                $('#existing_procedures tbody').html(existing_procedures);

                var non_added_procedures = '';
                for (var i = 0; i < nonSetup.length; i++) {
                    non_added_procedures += "<tr><td>" + nonSetup[i].procedurecode + "</td><td>" + nonSetup[i].proceduredesc +
                        "</td><td><input type='checkbox' id='nex_" + nonSetup[i].procedurecode + "' class='nex switch' /></td></tr>";
                }
                $('#non_added_procedures tbody').html(non_added_procedures);

                $('#ctrl-ex').html('<input type="checkbox" id="ctrl_existing_procedures" class="ctrl-ex switch" checked />')
                $('#ctrl-nex').html('<input type="checkbox" id="ctrl_non_added_procedures" class="ctrl-nex switch" />')

                $('.switch').each(function () {
                    var switchery = new Switchery(this, { color: '#4099ff', jackColor: '#fff' });
                });

                setTimeout(function () {
                    try {
                        $T1 = $('#existing_procedures');
                        $T1.DataTable({
                            buttons: [
                                {
                                    extend: 'print',
                                    title: 'Report   ',
                                    //text: '<i class="fa fa-print"></i> Print',
                                    //title: $('h1').text(),
                                    exportOptions: {
                                        //columns: ':not(.no-print)'
                                        columns: ':visible', stripNewlines: true
                                    },

                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    footer: false
                                },
                                {
                                    extend: 'excelHtml5', title: 'Report', footer: true, exportOptions: {
                                        columns: ':visible', stripNewlines: false
                                    },
                                    orientation: 'landscape',
                                    pageSize: 'LEGAL',
                                },
                                {
                                    extend: 'pdfHtml5', title: 'Report',
                                    columns: ':visible',
                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',

                                    footer: false
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    },
                                    postfixButtons: ['colvisRestore']
                                },
                                {
                                    extend: 'pageLength', footer: false, exportOptions: {
                                        stripNewlines: false
                                    }
                                },
                            ],
                            iDisplayLength: 25,
                            lengthMenu: [[10, 25, 50, -1],
                            ['10', '25', '50', ' all']
                            ],
                            pagingType: "full_numbers",
                            deferRender: true,

                        });
                    } catch (e) { console.log(e); }

                    try {
                        $T2 = $('#non_added_procedures');
                        $T2.DataTable({
                            buttons: [
                                {
                                    extend: 'print',
                                    title: 'Report   ',
                                    //text: '<i class="fa fa-print"></i> Print',
                                    //title: $('h1').text(),
                                    exportOptions: {
                                        //columns: ':not(.no-print)'
                                        columns: ':visible', stripNewlines: true
                                    },

                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    footer: false
                                },
                                {
                                    extend: 'excelHtml5', title: 'Report', footer: true, exportOptions: {
                                        columns: ':visible', stripNewlines: false
                                    },
                                    orientation: 'landscape',
                                    pageSize: 'LEGAL',
                                },
                                {
                                    extend: 'pdfHtml5', title: 'Report',
                                    columns: ':visible',
                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',

                                    footer: false
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    },
                                    postfixButtons: ['colvisRestore']
                                },
                                {
                                    extend: 'pageLength', footer: false, exportOptions: {
                                        stripNewlines: false
                                    }
                                },
                            ],
                            iDisplayLength: 25,
                            lengthMenu: [[10, 25, 50, -1],
                            ['10', '25', '50', ' all']
                            ],
                            pagingType: "full_numbers",
                            deferRender: true,

                        });
                    } catch (e) { console.log(e); }
                }, 350);
            });
        }
        function ViewBenefit(id) {
            var benefitLookUpURL = $('#benefitLookUpURL').data('url');
            $.getJSON(benefitLookUpURL, function (data) {
                data = $.parseJSON(data.Result);
                alert('Added under ' + data.benefitName);
            });
        }
        $(document).ready(function () {

            var dataURL = $('#dataURL').data('url');
            $.getJSON(dataURL, function (data) {
                data = $.parseJSON(data.Result);

                FormatPlan(data.plans);
                FormatTimePeriod(data.timePeriods);
            });

            $('.switch').each(function () {
                var switchery = new Switchery(this, { color: '#4099ff', jackColor: '#fff' });
            });
        });


        var procedureSetupURL = $('#procedureSetupURL').data('url');
        $('body').on('change', '.switch', function () {
            $elem = $(this);
            $tr = $elem.parent().parent();

            var benefitCodeId = parseInt($('#benefits').val());
            var timePeriodId = parseInt($('#time_periods').val());
            var planId = parseInt($('#plans').val());
            var status = $elem.prop("checked");
            var procedurecode = $elem.prop("id").replace("nex_", "").replace("ex_", "");
            var className = $elem.prop("id").replace("_" + procedurecode, "");

            var actualClassName = $($elem[0]).prop('class');

            if (className == "nex" || className == "ex") {
                $.getJSON(procedureSetupURL + "?benefitCodeId=" + benefitCodeId + "&planId=" + planId + "&timePeriodId=" + timePeriodId + "&status=" + status + "&procedurecode=" + procedurecode, function (data) {
                    data = $.parseJSON(data.Result);

                    $tr.remove()
                    if (className == "nex") {
                        $('#existing_procedures tbody').append($tr);
                    } else {
                        $('#non_added_procedures tbody').append($tr);
                    }


                    $T1 = $('#existing_procedures');
                    try {
                        $T1.DataTable().destroy();
                    } catch (e) { console.log(e); }

                    $T2 = $('#non_added_procedures');
                    try {
                        $T2.DataTable().destroy();
                    } catch (e) { console.log(e); }
                    $T1.DataTable();
                    $T2.DataTable();

                });
            }

            else if (actualClassName == "ctrl-ex switch") {
                ProcessAll(existing, false);
            } else if (actualClassName == "ctrl-nex switch") {
                ProcessAll(nonSetup, true);
            }
        });

        function FormatPlan(data) {
            var options = "";
            for (i = 0; i < data.length; i++)
                options += "<option value='" + data[i].planId + "'>" + data[i].planName + "</option>";
            $('#plans').append(options);
        }
        function FormatTimePeriod(data) {
            var options = "";
            for (i = 0; i < data.length; i++)
                options += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
            $('#time_periods').append(options);
        }
        function FormatBenefits(data) {
            var options = "";
            for (i = 0; i < data.length; i++)
                options += "<option value='" + data[i].id + "'>" + data[i].description + "</option>";
            $('#benefits').append(options);
        }

        var j = 0;
        function ProcessAll(data, status) {
            console.log(status)
            var $tr = $('#non_added_procedures tbody tr');
            var $trE = $tr.first();
            $tr = $($tr[0]);

            var benefitCodeId = parseInt($('#benefits').val());
            var timePeriodId = parseInt($('#time_periods').val());
            var planId = parseInt($('#plans').val());

            if ((j + 1) <= data.length) {
                var procedureCode = (data[j].procedurecode === undefined) ? data[j].procedureCode : data[j].procedurecode;
                $.getJSON(procedureSetupURL + "?benefitCodeId=" + benefitCodeId + "&planId=" + planId + "&timePeriodId=" + timePeriodId + "&status=" + status + "&procedurecode=" + procedureCode, function (d) {
                    d = $.parseJSON(d.Result);
                    j++;
                    ProcessAll(data, status);
                });
            }
            else {

                NotifySuccess('Operation Complete', 'Request was executed without any recorded errors.');

                $T1 = $('#existing_procedures');
                try {
                    $T1.DataTable().clear();
                    $T1.DataTable().destroy();
                } catch (e) { console.log(e); }

                $T2 = $('#non_added_procedures');
                try {
                    $T2.DataTable().clear();
                    $T2.DataTable().destroy();
                } catch (e) { console.log(e); }

                GetProcedures();
                j = 0;
            }
        }
    </script>
}



