﻿@{
    ViewBag.Title = "Home Page";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">App</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">All Applications</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <!-- [ page content ] start -->
                <div class="row">
                    <div class="col-xl-2 col-md-12">
                        <!-- HyDirect -->
                        <div class="card">
                            <div class="card-header">
                                <h5>HyDirect</h5>
                            </div>
                            <div class="card-block">
                                <form class="form-material">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 p-r-0 fh-150-ovfl-none">
                                            <img src="~/Content/Images/AppImages/hydirect.PNG" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block m-t-40" target="_blank" href="https://online.hygeiahmo.com/hydirect">Go To HyDirect</a>
                                </form>
                            </div>
                        </div>
                        <!-- End HyDirect -->
                    </div>

                    <div class="col-xl-2 col-md-12">
                        <!-- MedOps -->
                        <div class="card">
                            <div class="card-header">
                                <h5>MedOps</h5>
                            </div>
                            <div class="card-block">
                                <form class="form-material">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 p-r-0 fh-150-ovfl-none">
                                            <img src="~/Content/Images/AppImages/medops.PNG" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block m-t-40" target="_blank" href="https://online.hygeiahmo.com/hydirectv3/account/backendlogin">Go To PA MedOps</a>
                                </form>
                            </div>
                        </div>
                        <!-- End MedOps -->
                    </div>

                    <div class="col-xl-2 col-md-12">
                        <!-- FINSAR - > -->
                        <div class="card">
                            <div class="card-header">
                                <h5>FINSAR</h5>
                            </div>
                            <div class="card-block">
                                <form class="form-material">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 p-r-0 fh-150-ovfl-none">
                                            <img src="~/Content/Images/AppImages/finsar.PNG" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block m-t-40" target="_blank" href="https://online.hygeiahmo.com/hydirectv3/account/finsar">Go To FINSAR</a>
                                </form>
                            </div>
                        </div>
                        <!-- End FINSAR -->
                    </div>

                    <div class="col-xl-2 col-md-12">
                        <!-- CLaims CAMS - > -->
                        <div class="card">
                            <div class="card-header">
                                <h5>CAMS</h5>
                            </div>
                            <div class="card-block">
                                <form class="form-material">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 p-r-0 fh-150-ovfl-none">
                                            <img src="~/Content/Images/AppImages/cams.PNG" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block m-t-40" target="_blank" href="https://online.hygeiahmo.com/Claims">Go To CAMS</a>
                                </form>
                            </div>
                        </div>
                        <!-- End Claims - CAMS -->
                    </div>

                    <div class="col-xl-2 col-md-12">
                        <!-- PAMS -->
                        <div class="card">
                            <div class="card-header">
                                <h5>PAMS</h5>
                            </div>
                            <div class="card-block">
                                <form class="form-material">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 p-r-0 fh-150-ovfl-none">
                                            <img src="~/Content/Images/AppImages/pams.PNG" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block m-t-40" target="_blank" href="https://online.hygeiahmo.com/hyintel">Go To PAMS</a>
                                </form>
                            </div>
                        </div>
                        <!-- End PAMS -->
                    </div>

                    <div class="col-xl-2 col-md-12">
                        <!-- Hygeia CBA - BAMS -->
                        <div class="card">
                            <div class="card-header">
                                <h5>BAMS</h5>
                            </div>
                            <div class="card-block">
                                <form class="form-material">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 p-r-0 fh-150-ovfl-none">
                                            <img src="~/Content/Images/AppImages/bams.PNG" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block m-t-40" target="_blank" href='https://online.hygeiahmo.com/hygeia-cba'>Go To BAMS</a>
                                </form>
                            </div>
                        </div>
                        <!-- End Hygeia CBA - BAMS -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card instant-trading-card">
                            <div class="card-block">
                                <form class="form-material">

                                    <div class="sap-div">
                                        <i class="fas fa-exchange-alt bg-c-blue"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-2 col-md-12">
                        <!-- CRM - > -->
                        <div class="card">
                            <div class="card-header">
                                <h5>CRM</h5>
                            </div>
                            <div class="card-block">
                                <form class="form-material">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 p-r-0 fh-150-ovfl-none">
                                            <img src="~/Content/Images/AppImages/crm.PNG" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block m-t-40" target="_blank" href='https://online.hygeiahmo.com/crm'>Go To CRM</a>
                                </form>
                            </div>
                        </div>
                        <!-- End CRM -->
                    </div>

                </div>

                <!-- [ page content ] end -->
            </div>
        </div>
    </div>
</div>