﻿
@{
    ViewBag.Title = "Provider Requests";
}
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="../files/assets/css/pages.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Onboarding</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Providers</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Requests</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-sm-8">
                        <!-- Responsive integration table start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Pending Requests</h5>
                                <p>
                                View pending requests for
                                <a class="text-primary" style="cursor: pointer;" data-toggle="tooltip" data-placement="top" data-original-title="Providers can now have up to three users acccounts accessing their portal">
                                    <b><i class="fas fa-info-circle"></i></b>&nbsp;additional users
                                </a>
                                and perform relevant actions.
                                <label class="label label-success">Onboard Provider</label> | &nbsp;
                                <label class="label label-danger">Remove Request</label>
                                </p>
                            </div>
                            <div class="card-block">
                                <div class="dt-responsive table-responsive">
                                    <table id="responsive-reorder" class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>Provider Name</th>
                                                <th>User Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="pointy-rows" id="provider-listing">
                                            <tr>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td style="width: 180px;">
                                                    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                                        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light"><i class="fas fa-eye"></i>View</button>
                                                        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light"><i class="fas fa-desktop"></i>Remove Request</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>
                                                    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                                        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light"><i class="fas fa-eye"></i>View</button>
                                                        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light"><i class="fas fa-desktop"></i>Remove Request</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>
                                                    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                                        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light"><i class="fas fa-eye"></i>View</button>
                                                        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light"><i class="fas fa-desktop"></i>Remove Request</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>
                                                    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                                        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light"><i class="fas fa-eye"></i>View</button>
                                                        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light"><i class="fas fa-desktop"></i>Remove Request</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>
                                                    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                                        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light"><i class="fas fa-eye"></i>View</button>
                                                        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light"><i class="fas fa-desktop"></i>Remove Request</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>
                                                    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                                        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light"><i class="fas fa-eye"></i>View</button>
                                                        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light"><i class="fas fa-desktop"></i>Remove Request</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>
                                                    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                                        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light"><i class="fas fa-eye"></i>View</button>
                                                        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light"><i class="fas fa-desktop"></i>Remove Request</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Provider Name</th>
                                                <th>User Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Responsive integration table end -->
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>Usage Statistics - <small>Count (Actions/Month)</small></h5>

                            </div>
                            <div class="card-block ">
                                <div id="usage-statistics-chart" style="height:345px" class="chart-shadow"></div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5>Provider's Short Info</h5>

                            </div>
                            <div class="card-block ">
                                <div class="row align-items-center m-b-10 p-b-10 b-b-default">
                                    <div class="col-sm-12 col-md-auto p-r-0">
                                        <img src="~/Content/App/images/default-avatar.png" alt="user image" class="img-100 align-top" />
                                    </div>
                                    <div class="col">
                                        <h6>Hospital Name Here</h6>
                                        <div class="row justify-content-between">
                                            <div class="col">
                                                <p class="text-mute"><i class="far fa-clock m-r-10"></i>Reg. Date: 30th Nov 2017</p>
                                                <p class="text-mute text-danger" style="margin-top: -15px;"><small>Select row to see short info</small></p>
                                            </div>
                                            <div class="col-auto text-right">
                                                <button class="btn btn-danger btn-sm">Edit Image</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12">
                                        <table class="table table-condensed table-striped">
                                            <tr>
                                                <td style="padding: .9rem 0.75rem .2rem .75rem;"><p>Is Onboarded?</p></td>
                                                <td style="padding: .9rem 0.75rem .2rem .75rem;"><label class="label label-default">Unknown</label></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: .9rem 0.75rem .2rem .75rem;"><p>PRM Info</p></td>
                                                <td style="padding: .9rem 0.75rem .2rem .75rem;">Select provider to view PRM info</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-body end -->
        </div>
    </div>
</div>


@section scripts{
    <!-- data-table js -->
    <script src="~/Content/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/files/assets/pages/data-table/extensions/row-reorder/js/dataTables.rowReorder.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="~/Content/files/assets/pages/data-table/extensions/row-reorder/js/row-reorder-custom.js"></script>
    <script src="~/Content/App/js/provider-requests.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                content: function () {
                    return $('#primary-popover-content').html();
                }
            });
        });
    </script>
}

