﻿@{
    ViewBag.Title = "Confirm Payments";
}

<!-- Select 2 css -->
<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
<!-- Cropper css -->
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/cropper/css/cropper.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Retail Products</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Sales</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Capture New Merchant Sale</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .btn {
        color: #fff !important;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                @using (Html.BeginForm("CaptureNew", "Sales", FormMethod.Post, new { @id = "Form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5 class="">Enrollee Pre-Registration</h5>
                                </div>

                                <div class="card-block">
                                    <div class="alert alert-info">
                                        Complete form below. An activation code will be sent to the buyer to complete the purchase process.
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input class="form-control" id="LastName" name="LastName" placeholder="Last Name" />
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="FirstName" name="FirstName" placeholder="First Name" />
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="OtherName" name="OtherName" placeholder="Other Name" />
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select id="PlanId" class="form-control custom-select">
                                                <option value="-1">---- Select Plan ----</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="number" id="AmountPaid" name="AmountPaid" , readonly="readonly" placeholder="Amount Paid" />
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control date" id="PurchaseDate" name="PurchaseDate" type="date" data-format="yyyy-mm-dd" placeholder="Purchase Date" />
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input class="form-control" id="Email" name="Email" placeholder="Email" />
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="Phone" name="Phone" placeholder="Phone" />
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                    <br />
                                </div>

                                <div class="card-footer">
                                    <a class="btn btn-sm btn-primary pull-right submit">Submit&nbsp;<i class="fa fa-save"></i></a>
                                    <a onclick="return ClearForm();" class="btn btn-sm btn-danger pull-right" style="margin-right: 10px;"><i class="fas fa-retweet"></i>&nbsp;Clear Form</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Initial Data Capture - pending registration</h5>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="idc-table" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Last Name</th>
                                                    <th>First Name</th>
                                                    <th>Phone</th>
                                                    <th>Plan Id</th>
                                                    <th>Amount Paid</th>
                                                    <th>Purchase Date</th>
                                                    <th>Activation Code</th>
                                                    <th>Code Used?</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Last Name</th>
                                                    <th>First Name</th>
                                                    <th>Phone</th>
                                                    <th>Plan Id</th>
                                                    <th>Amount Paid</th>
                                                    <th>Purchase Date</th>
                                                    <th>Activation Code</th>
                                                    <th>Code Used?</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<a id="IDCURL" data-url="@Url.Action("IDCPRegistration", "Sales")"></a>
<a id="registrationMailURL" data-url="@Url.Action("SendRegistrationMail", "Sales")"></a>
<a id="captureNewURL" data-url="@Url.Action("CaptureNew", "Sales")"></a>
<a id="planURL" data-url="@Url.Action("GetPlans", "Sales")"></a>
<a id="planPriceURL" data-url="@Url.Action("GetPlanPrice", "Sales")"></a>

<a id="deleteURL" data-url="@Url.Action("Delete", "Sales")"></a>
<a id="invalidateURL" data-url="@Url.Action("Invalidate", "Sales")"></a>
@section scripts{

    <!-- Select 2 js -->
    <script type="text/javascript" src="~/Content/files/bower_components/select2/js/select2.full.min.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- data-table js -->
    <script src="~/Content/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var planURL = $('#planURL').data('url');
            $.ajax({
                url: planURL,
                type: "GET",
                success: function (data) {

                    options = "";
                    for (var i = 0; i < data.length; i++) {
                        d = data[i];
                        options += "<option value='" + d.PlanId + "'>" + d.PlanName + "</option>";
                    }
                    $("#PlanId").append(options);
                },
                error: function (msg) {
                    console.log(msg);
                }
            });

            LoadPendingRegistrations();
        });
        function LoadPendingRegistrations() {
            var IDCURL = $('#IDCURL').data('url');
            $.ajax({
                url: IDCURL,
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = $.parseJSON(data);
                    var res = "";
                    for (var i = 0; i < data.length; i++) {
                        d = data[i];
                        res += "<tr id='row_" + d.id + "'><td>" + d.lastName + "</td><td>" + d.firstName + "</td><td>" + d.phone + "</td><td>" + d.planID + "</td><td>" + d.amountPaid + "</td><td>" + d.purchaseDate + "</td>\
                                            <td>" + d.activationCode + "</td><td>" + ((d.codeUsed === true) ? "<label class='label label-success'>True</label>" : "<label class='label label-danger'>False</label>") + "</td>\
                                            <td><a href='javascript:void(0)' onclick='Resend(\"" + d.activationCode + "\",\"" + d.planID + "\",\"" + d.firstName + "\",\"" + d.lastName + "\",\"" + d.email + "\",\"" + d.phone + "\",\"" + d.planName + "\",\"" + d.amountPaid + "\")'>\
                                            Resend</a></td><td><a href='javascript:void(0)' onclick='Invalidate(\"" + d.id + "\")'>Invalidate</a></td></tr>";
                    }
                    $('#tbody').html(res);
                },
                error: function (msg) { console.log(msg); }
            });
        }
        //function Delete(id) {
        //    var deleteURL = $('#deleteURL').data('url');
        //    $.ajax({
        //        url: deleteURL + "/" + id,
        //        type: "POST",
        //        success: function (data) {
        //            data = $.parseJSON(data);
        //            alert(((data.success === true) ? 'Operation complete!' : 'Operation failed to complete! ' + data.message));
        //            LoadPendingRegistrations();
        //        },
        //        error: function (msg) {
        //            console.log(msg);
        //        }
        //    });
        //}
        function Invalidate(id) {
            var invalidateURL = $('#invalidateURL').data('url');
            $.ajax({
                url: invalidateURL + "/" + id,
                type: "POST",
                success: function (data) {
                    data = $.parseJSON(data);
                    alert(((data.success === true) ? 'Operation complete!' : 'Operation failed to complete! ' + data.message));
                    LoadPendingRegistrations();
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }
        function Resend(activationCode, PlanId, firstname, lastname, email, phone, planname, amountPaid) {
            var registrationMailURL = $('#registrationMailURL').data('url');
            $.ajax({
                url: registrationMailURL,
                data: '{"activationCode" : "' + activationCode + '","PlanId" : "' + PlanId + '","firstname" : "' + firstname + '","lastname" : "' + lastname +
                    '","email": "' + email + '","phone": "' + phone + '","planname": "' + planname + '","amountPaid": "' + amountPaid + '"}',
                contentType: 'application/json;',
                type: "POST",
                success: function (data) {
                    data = $.parseJSON(data);
                    if (data.Success === true)
                        alert('Operation complete!');
                    else
                        alert('Operation failed to complete!');
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }
        $('#PlanId').change(function () {
            var planPriceURL = $('#planPriceURL').data('url');
            planPriceURL = planPriceURL + "?PlanId=" + $(this).val();
            $.ajax({
                url: planPriceURL,
                type: "Post",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#AmountPaid').val(data.Price);
                },
                error: function (msg) { console.log(msg); }
            });
        });
        function ClearForm() {
            $('input.form-control').val('');
            $("select.form-control")[0].selectedIndex = 0;
            return false;
        }
        $('.submit').click(function () {

            if (!confirm('Are you sure?')) {
                return false;
            }

            var pd = $('#PurchaseDate').val();
            var PurchaseDate = '';
            try {
                if (pd.indexOf('/') == -1) {
                    PurchaseDate = pd;
                }
                else {
                    pd = pd.split('/');
                    PurchaseDate = pd[2] + '-' + pd[0] + '-' + pd[1];
                }
            }
            catch (e) {
                alert('Please select a date.')
                return false;
            }

            var AmountPaid = 0;
            try {
                AmountPaid = parseFloat($('#AmountPaid').val());
                if (isNaN(AmountPaid) || AmountPaid == 0) {
                    alert('Please select a plan');
                    return false;
                }
            }
            catch (e) {
                alert('Please select a plan');
                return false;
            }

            var PlanId = -1;
            try {
                PlanId = parseInt($('#PlanId').val());
                if (isNaN(PlanId) || PlanId == -1) {
                    alert('Please select a plan');
                    return false;
                }
            }
            catch (e) {
                alert('Please select a plan');
                return false;
            }

            var Email = $('#Email').val();
            if (!validateEmail(Email)) {
                alert('Please provide a valid email');
                return false;
            }

            var FirstName = $('#FirstName').val().trim();
            if (FirstName == "") {
                alert('Please provide a first name');
                return false;
            }

            var LastName = $('#LastName').val().trim();
            if (LastName == "") {
                alert('Please provide a last name');
                return false;
            }

            var Phone = $('#Phone').val().trim();
            if (Phone.length != 11) {
                alert('Please provide a valid phone number');
                return false;
            }

            //var form = $('#Form');
            //var __RequestVerificationToken = $('input[name="__RequestVerificationToken"]', form).val();

            $(this).css("visibility", "hidden");
            var captureNewURL = $('#captureNewURL').data('url');
            $.ajax({
                type: 'POST',
                url: captureNewURL,
                data: '{"PurchaseDate" : "' + PurchaseDate + '","AmountPaid" : "' + AmountPaid + '","PlanId" : "' + PlanId + '","Email" : "' + Email +
                    '","FirstName": "' + FirstName + '","LastName": "' + LastName + '","Phone": "' + Phone + '"}',
                contentType: 'application/json;',
                success: function (data) {

                    $(this).css("visibility", "visible");

                    data = $.parseJSON(data);
                    try {
                        if (data.success === true) {
                            alert('Data captured! Click Ok to send activation code');
                            ClearForm();

                            var registrationMailURL = $('#registrationMailURL').data('url');
                            $.ajax({
                                type: 'POST',
                                url: registrationMailURL,
                                data: '{"activationCode" : "' + data.activationCode + '","PlanId" : "' + data.planID + '","FirstName": "' + FirstName + '","LastName": "' + LastName + '","Email" : "' + Email +
                                    '","Phone": "' + Phone + '","planname" : "' + data.planName + '","amountPaid" : "' + AmountPaid + '"}',
                                contentType: 'application/json;',
                                success: function (data) {
                                    data = $.parseJSON(data);
                                },
                                error: function (msg) {
                                    console.log(msg);
                                }
                            });
                        }
                        else {
                            data = $.parseJSON(data);
                            alert('Failed to save data - ' + data.message);
                        }
                    }
                    catch (e) {
                        alert(data.message);
                    }
                    LoadPendingRegistrations();
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        });
    </script>
}


