﻿
@{
    ViewBag.Title = "ConfirmPayments";
}

<!-- Select 2 css -->
<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
<!-- Cropper css -->
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/cropper/css/cropper.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Retail Products</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Sales</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Confirm Payments</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card table-card p-b-0">
                            <div class="card-header">
                                <h5>Registration List</h5>
                                <span>
                                    View registration statues. Confirim or Terminate Registration
                                </span>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                        <li><i class="feather icon-trash close-card"></i></li>
                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block p-b-0 p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover m-b-0">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Date</th>
                                                <th>Last Name</th>
                                                <th>First Name</th>
                                                <th>Other Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Plan</th>
                                                <th>Dependants</th>
                                                <th>Payment Mode</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><label class="label label-success">Confirmed</label></td>
                                                <td>03/4/2017</td>
                                                <td>Samthana</td>
                                                <td>Boladeyemi</td>
                                                <td>Sholeye</td>
                                                <td>lakunled@ymail.com</td>
                                                <td>08164237309</td>
                                                <td>HyPrime</td>
                                                <td><a href="#!">3</a></td>
                                                <td class="text-c-green">Online Payment</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td><label class="label label-success">Confirmed</label></td>
                                                <td>03/4/2017</td>
                                                <td>Samthana</td>
                                                <td>Boladeyemi</td>
                                                <td>Sholeye</td>
                                                <td>lakunled@ymail.com</td>
                                                <td>08164237309</td>
                                                <td>HyPrime</td>
                                                <td><a href="#!">3</a></td>
                                                <td class="text-c-green">Online Payment</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>Pending...</td>
                                                <td>03/4/2017</td>
                                                <td>Samthana</td>
                                                <td>Boladeyemi</td>
                                                <td>Sholeye</td>
                                                <td>lakunled@ymail.com</td>
                                                <td>08164237309</td>
                                                <td>HyPrime</td>
                                                <td><a class="text-muted">0</a></td>
                                                <td class="text-c-blue">Transfer</td>
                                                <td><button class="btn waves-effect waves-light btn-primary btn-sm btn-outline-primary"><i class="far fa-check-circle"></i>Confirm</button></td>
                                            </tr>
                                            <tr>
                                                <td><label class="label label-success">Confirmed</label></td>
                                                <td>03/4/2017</td>
                                                <td>Samthana</td>
                                                <td>Boladeyemi</td>
                                                <td>Sholeye</td>
                                                <td>lakunled@ymail.com</td>
                                                <td>08164237309</td>
                                                <td>HyPrime</td>
                                                <td><a href="#!">4</a></td>
                                                <td class="text-c-blue">Transfer</td>
                                                <td><button class="btn waves-effect waves-light btn-primary btn-sm btn-outline-primary"><i class="far fa-check-circle"></i>Confirm</button></td>
                                            </tr>
                                            <tr>
                                                <td>Pending...</td>
                                                <td>03/4/2017</td>
                                                <td>Samthana</td>
                                                <td>Boladeyemi</td>
                                                <td>Sholeye</td>
                                                <td>lakunled@ymail.com</td>
                                                <td>08164237309</td>
                                                <td>HyPrime</td>
                                                <td><a class="text-behance">3</a></td>
                                                <td class="text-c-red">JimReid Subscription -Fundgate</td>
                                                <td><button class="btn waves-effect waves-light btn-primary btn-sm btn-outline-primary"><i class="far fa-check-circle"></i>Confirm</button></td>
                                            </tr>
                                            <tr>
                                                <td><label class="label label-danger">Terminated</label></td>
                                                <td>03/4/2017</td>
                                                <td>Samthana</td>
                                                <td>Boladeyemi</td>
                                                <td>Sholeye</td>
                                                <td>lakunled@ymail.com</td>
                                                <td>08164237309</td>
                                                <td>HyPrime</td>
                                                <td><a class="text-behance">3</a></td>
                                                <td class="text-c-red">CredEquity Subscription</td>
                                                <td>---</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <!-- Select 2 js -->
    <script type="text/javascript" src="~/Content/files/bower_components/select2/js/select2.full.min.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
}


