﻿@{
    ViewBag.Title = "Merchant Sales";
}

<!-- Select 2 css -->
<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Retail Products</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Sales</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Merchant Sales</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .btn {
        color: #fff !important;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                @using (Html.BeginForm("MerchantSales", "Sales", FormMethod.Post, new { @id = "Form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Merchant Sale Listing</h5>
                                </div>
                                <div class="card-block">

                                    <span>Purchase Date</span>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <input class="form-control date" id="start" type="date" data-format="yyyy-mm-dd" placeholder="Start Date" />
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="form-control date" id="end" type="date" data-format="yyyy-mm-dd" placeholder="End Date" />
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-primary btn-sm btn-block" onclick="LoadPendingRegistrations()">Results&nbsp;<i class="fa fa-download"></i></a>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="dt-responsive table-responsive">
                                        <table id="idc-table" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Merchant</th>
                                                    <th>Last Name</th>
                                                    <th>First Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Plan</th>
                                                    <th>Dependants</th>
                                                    <th>Amount Paid</th>
                                                    <th>Purchase Date</th>
                                                    <th>Activation Code</th>
                                                    <th class="hide">Code Used?</th>
                                                    <th>Date Added</th>
                                                    <th class="hide">Reg Completed?</th>
                                                    <th>Code used</th>
                                                    <th>Member Id</th>
                                                    <th class="hide">Reg. Date</th>
                                                    <th class="">Expiry Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Merchant</th>
                                                    <th>Last Name</th>
                                                    <th>First Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Plan</th>
                                                    <th>Dependants</th>
                                                    <th>Amount Paid</th>
                                                    <th>Purchase Date</th>
                                                    <th>Activation Code</th>
                                                    <th class="hide">Code Used?</th>
                                                    <th>Date Added</th>
                                                    <th class="hide">Reg Completed?</th>
                                                    <th>Code used</th>
                                                    <th>Member Id</th>
                                                    <th class="hide">Reg. Date</th>
                                                    <th class="">Expiry Date</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<a id="IDCURL" data-url="@Url.Action("AllSales", "Sales")"></a>
@section scripts{

    <!-- Select 2 js -->
    <script type="text/javascript" src="~/Content/files/bower_components/select2/js/select2.full.min.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- data-table js -->
    <script src="~/Content/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script>
        function LoadPendingRegistrations() {
            var IDCURL = $('#IDCURL').data('url');


            var start = $('#start').val();
            var startDate = '';
            try {
                if (start.indexOf('/') == -1) {
                    startDate = start;
                }
                else {
                    start = start.split('/');
                    startDate = start[2] + '-' + start[0] + '-' + start[1];
                }
            }
            catch (e) {
                alert('Please select a start date.')
                return false;
            }

            var end = $('#end').val();
            var endDate = '';
            try {
                if (end.indexOf('/') == -1) {
                    endDate = end;
                }
                else {
                    end = start.split('/');
                    endDate = end[2] + '-' + end[0] + '-' + end[1];
                }
            }
            catch (e) {
                alert('Please select an end date.')
                return false;
            }

            $.ajax({
                url: IDCURL + "?start=" + startDate + "&end=" + endDate,
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = $.parseJSON(data);
                    console.log(data);

                    var res = "";
                    for (var i = 0; i < data.length; i++) {
                        d = data[i];
                        res += "<tr id='row_" + d.id + "'>\
                                <td>" + d.merchantName + "</td>\
                                <td>" + d.lastName + "</td>\
                                <td>" + d.firstName + "</td>\
                                <td>" + d.phone + "</td>\
                                <td>" + d.email + "</td>\
                                <td>" + d.planName + "</td>\
                                <td>" + d.depCount + "</td>\
                                <td>" + d.amountPaid + "</td>\
                                <td>" + d.purchaseDate.replace('T00:00:00', '') + "</td>\
                                <td>" + d.activationCode + "</td>\
                                <td class='hide'>" + d.codeUsed + "</td>\
                                <td>" + d.dateAdded.replace('T', ' ') + "</td>\
                                <td class='hide'>" + ((d.registrationCompleted == null) ? "false" : d.registrationCompleted) + "</td>\
                                <td>" + ((d.codeUsed == true) ? "<label class='label label-success'>True</label>" : "<label class='label label-danger'>False</label>") + "</td>\
                                <td>" + d.memberId + "</td>\
                                <td class='hide'>" + d.registrationDate + "</td>\
                                <td class=''>" + d.terminationDate + "</td>\
                            </tr>";
                    }
                    $('tbody').html(res);
                    setTimeout(function () {
                        $('#idc-table').DataTable();
                    }, 350);
                },
                error: function (msg) { console.log(msg); }
            });
        }
    </script>
}


