﻿
@{
    ViewBag.Title = "Third Party Payment";
    Layout = "~/Views/Shared/_Semi.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
{
    @Html.AntiForgeryToken()

    <div class="text-center" style="width: 100%; height: 2000px; overflow: hidden; background: #FFF;">

        <style>
            input {
                padding: 15px !important;
            }
        </style>
        <div>
            <h3 style="margin-top: 30px; text-align: center;">One more thing... We need your information</h3>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-offset-4 col-sm-4 text-left">
                <div style="border: 1px solid #ccc; padding: 20px; border-radius: 5px;">

                    <div class="alert alert-info">Complete the form and click proceed to save your data and continue on to the payment instructions on the next page.</div>

                    <div style="border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
                        <label for="name">Buyer Name</label>
                        <input class="form-control" placeholder="Lastname Firstname" id="name" />
                        <br />

                        <label for="email">Buyer Email</label>
                        <input class="form-control" placeholder="someone@email.com" id="email" />
                        <br />

                        <label for="phone">Buyer Phone <span class="text-muted">(Optional)</span></label>
                        <input class="form-control" id="phone" />
                    </div>
                </div>
            </div>
        </div>
        <br />

        <a class="btn btn-danger text-white" onclick="javascript:history.back()"><i class="fa fa-arrow-left"></i>&nbsp;Back to Website</a>
        &nbsp;&nbsp;&nbsp;

        <a class="btn btn-primary text-white proceed" data-href="http://fundgate.ng/hygeiaHmo/@ViewBag.Id/@ViewBag.guid">Proceed&nbsp;<i class="go fa fa-arrow-right"></i></a>
        &nbsp;

        <span id='loading1'>
            <img id='l-i' src='https://online.hygeiahmo.com/hyenrollee/content/images/loading.gif' class='loading hide' style='width:40px;' />
        </span>

        <input type="hidden" class="hide" id="Id" value="@ViewBag.Id" />
        <input type="hidden" class="hide" id="OrderResponse" value="@ViewBag.OrderResponse" />
        <a id="redirect" data-url="@ViewBag.redirect"></a>

        <dov class="hide">
            <a id="order-url" data-url="@Url.Action("CreateOrder", "Products")"></a>
        </dov>
    </div>
}
    @section scripts {
        <script>

            $(function () {

                var form = $('#formUrl');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
             

                $('.proceed').click(function () {
                    Proceed();
                });

                var ValidateEmail       = function (email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                }
                var Proceed             = function () {
                    var $name = $('#name');
                    if ($name.val() === '') {
                        alert('Please provide your name.');
                        return false;
                    }
                    var $email = $('#email');
                    if (!ValidateEmail($email.val())) {
                        alert('Please proivide a valid email');
                        return false;
                    }
                    var $phone = $('#phone');

                    var data = {
                        Id: $('#Id').val(),
                        name: $name.val().split(' '),
                        phone: $phone.val(),
                        email: $email.val(),
                    };
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "https://online.hygeiahmo.com/hygeiaapiservice/api/RetailCustomers/SaveDiasporaBuyerInfo",
                        "method": "POST",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded",
                        },
                        "data": {
                            "RetailCustomerId": data.Id,
                            "LastName": data.name[0],
                            "FirstName": data.name[1] || '',
                            "OtherName": data.name[2] || '',
                            "Email": data.email,
                            "Phone": data.phone
                        }
                    }

                    $('.loading').removeClass('hide');
                    jQuery.ajax(settings).done(function (response) {
                        //console.log(response);
                        CreateOrder();
                    });
                }
                var CreateOrder         = function () {
                    var error = function (e) {
                        console.log(e);
                    };
                    var success = function (data) {
                        try { data = window.JSON.parse(data.response); } catch (e) { }
                        d = data.response;
                        if (d.statusType !== 'Failed' && (d.status === 1 || d.status === 0)) {

                            SaveCallBackResult(d);

                        } else {
                            alert('Sorry, we were unable to complete your request at the time. Please retry later.');
                        }
                        
                        $('.loading').addClass('hide');
                    };
                    var data = {
                        retailCustomerId: $('#Id').val(),
                        __RequestVerificationToken: token
                    };
                    
                    $('.loading').removeClass('hide');
                    POSTToServer($("#order-url").data("url"), JSON.stringify(data), success, error);
                }
                var SaveCallBackResult  = function (d) {
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "https://online.hygeiahmo.com/hygeiaapiservice/api/RetailCustomers/DiasporaResponse",
                        "method": "POST",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded",
                        },
                        "data": {
                            "Amount": d.amount,
                            "Status": d.status,
                            "StatusType": d.statusType || "NA",
                            "Expiry": d.expiryDate || "NA",
                            "Id": d.id || "NA",
                            "MerchantReference": d.merchantReference || "NA",
                            "ProviderReference": d.providerReference || "NA"
                        }
                    }
                    jQuery.ajax(settings).done(function (response) {
                        console.log(response);
                        console.log(d.orderRefUrl);
                        location.href = d.orderRefUrl;
                    });
                }
                var POSTToServer        = function (_URL, data, success, error) {
                    $.ajax({
                        type: 'POST',
                        url: _URL,
                        data: data,
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: success,
                        error: error
                    });
                }

            });
        </script>
    }
