﻿
@{
    ViewBag.Title = "Edit Product";
}

<!-- Select 2 css -->
<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
<!-- Cropper css -->
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/cropper/css/cropper.css">

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Retail Products</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Product</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Edit Existing</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <h5>Product Setup</h5>
                                <span>
                                    Complete form to create retail products.
                                </span>
                                <img class="fa-pull-right hide" src="~/Content/App/images/loading-balls.svg" style="width: 30px;margin-top: -51px;" />
                            </div>
                            <!-- Form-Setup end -->
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select class="js-example-basic-single col-sm-12">
                                            <optgroup label="========================">
                                                <option value="-1">Select A Product</option>
                                            </optgroup>
                                            <optgroup label="HyBasic Individual">
                                                <option value="AL">Standard</option>
                                                <option value="WY">Premium</option>
                                            </optgroup>
                                            <optgroup label="HyBasic Family">
                                                <option value="AL">Standard</option>
                                                <option value="WY">Premium</option>
                                            </optgroup>
                                            <optgroup label="Senior Citizen">
                                                <option value="WY">Mini</option>
                                                <option value="WY">Midi</option>
                                                <option value="WY">Premium</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="border-checkbox-section">
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <label style="font-weight: bold;">Product Type</label>&nbsp;&nbsp;
                                            </div>
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <input class="border-checkbox" type="checkbox" id="checkbox1">
                                                <label class="border-checkbox-label" for="checkbox1">Individual</label>
                                            </div>
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <input class="border-checkbox" type="checkbox" id="checkbox2" disabled>
                                                <label class="border-checkbox-label" for="checkbox2">Family</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Form-Setup end -->

                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="border-checkbox-section">
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <input class="border-checkbox" type="checkbox" id="checkbox3" checked>
                                                <label class="border-checkbox-label" for="checkbox3">Display T&Cs</label>
                                            </div>
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <input class="border-checkbox" type="checkbox" id="checkbox4" checked>
                                                <label class="border-checkbox-label" for="checkbox4">Allow Card Transactions</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5>TPS Sales</h5>
                                <span>
                                    Allow/Disallow third-party-sales purchases
                                </span>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="border-checkbox-section">
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <input class="border-checkbox" type="checkbox" id="checkbox5" checked>
                                                <label class="border-checkbox-label" for="checkbox5">JimReid (FundGate)</label>
                                            </div>
                                        </div>
                                        <div class="border-checkbox-section">
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <input class="border-checkbox" type="checkbox" id="checkbox6" checked>
                                                <label class="border-checkbox-label" for="checkbox6">CredEquity</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card o-hidden bg-c-blue web-num-card">
                            <div class="card-header text-white">
                                <h5 class="text-white">Attributes</h5>
                                <span>
                                    Add product attributes here
                                </span>
                            </div>
                            <div class="card-block text-white">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="productAttributeControl">Product Attribute</label>
                                        <input id="productAttributeControl" type="text" class="form-control form-control-default" placeholder="e.g X number of GP consults in a month">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pull-right">
                                            <div class="btn-group dropdown-split-inverse">
                                                <button type="button" class="btn btn-inverse"><i class="fas fa-exchange-alt"></i>Add Attribute</button>
                                                <button type="button" class="btn btn-inverse dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">Toggle primary</span>
                                                </button>
                                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(110px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a class="dropdown-item waves-effect waves-light" href="#">Copy From Other</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item waves-effect waves-light text-red" href="#">Remove All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Image Upload</h5>
                                <span>
                                    Upload, crop and save product display art.
                                </span>
                            </div>
                            <!-- Product-Avatar-Setup end -->
                            <div class="card-block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="img-container">
                                                <img id="image" src="~/Content/App/images/webpage.PNG" style="width: 100%;" alt="Crop Picture">
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-12 docs-buttons button-page">
                                            <div class="pull-right">
                                                <div class="btn-group">
                                                    <label class="btn btn-primary btn-upload btn-sm" for="inputImage" title="Upload image file">
                                                        <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                                                        <span class="docs-tooltip" data-toggle="tooltip" title="Select an image to crop">
                                                            <span class="fa fa-upload"></span> Upload an Image
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm" data-method="getCroppedCanvas">
                                                        <span class="docs-tooltip" data-toggle="tooltip" title="Preview and Save Image">
                                                            <i class="fas fa-eye"></i>&nbsp;Preview Image
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Show the cropped image in modal -->
                                            <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title pull-left" id="getCroppedCanvasTitle">Preview Display Image</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body text-center" style="overflow-x: auto;"></div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                                                <i class="fas fa-times"></i>Close
                                                            </button>
                                                            <a class="btn btn-primary btn-sm" id="download" href="javascript:void(0);" download="cropped.jpg">
                                                                <i class="fas fa-upload"></i>Save Image
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.modal -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product-Avatar-Setup end -->
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <h5>Product Attributes</h5>
                                <span>
                                    Attributes are listed here as they are typed on the left
                                </span>
                            </div>

                            <link href="~/Content/App/css/Styles.css" rel="stylesheet" />
                            <!-- Form-Setup end -->
                            <div class="card-block" id="attribute-container">
                                <div class="plan-container">
                                    <div class="plan-item ">
                                        <p class="plan-name">PLAN NAME</p>
                                        <p class="text-mute pricing"><span id="bg-price">₦ 23,000</span> / year</p>
                                        <p style="margin-top: -20px;"><small>BILLED <span id="sm-price"></span>₦ 23, 000 ANUALLY</small></p>

                                        <p class="action-button">
                                            <button class="btn waves-effect waves-light btn-success btn-outline-success btn-block"><i class="far fa-credit-card-alt"></i>Buy Now</button>
                                        </p>

                                        <p>
                                            <ul id="attribute-listing" class="">
                                                <li class="att-item">₦ 500,000 Surgery Limit</li>
                                                <li class="att-item">5 GP Consultations per month</li>
                                                <li class="att-item">Minor Surgeries</li>
                                                <li class="att-item">Intermediate Surgeries</li>
                                                <li class="att-item">6 Physiotherapy Sessions</li>
                                                <li class="att-item">Mamography</li>
                                                <li class="att-item">In-app delay notification</li>
                                                <li class="att-item">Mistectomy</li>
                                                <li class="att-item">Radiograpy</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <!-- Form-Setup end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <!-- Cropper js -->
    <script src="~/Content/files/bower_components/cropper/js/cropper.min.js"></script>
    <script src="~/Content/App/js/croper.js"></script>
    <!-- Select 2 js -->
    <script type="text/javascript" src="~/Content/files/bower_components/select2/js/select2.full.min.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    @*<script src="~/Content/App/js/croper.js"></script>*@
    <script>
        $(document).ready(function () {
            $(".js-example-basic-single").select2();
        });
    </script>
}


