﻿@using HyAdmin.Models.ViewModels
@{
    ViewBag.Title = "Registration Complete";
    Layout = "~/Views/Shared/_Semi.cshtml";
}

<!-- Select 2 css -->
<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
<!-- Cropper css -->
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/cropper/css/cropper.css">

<script src="~/Scripts/webpay.js"></script>
<script src="~/Scripts/cryptojssha512.js"></script>
<style>
    strong {
        font-weight: bold;
    }
</style>
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Hi, @Model.FirstName</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Registration</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Transaction Summary</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div id="card-failed" class="hide">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h5 class="text-white">Transaction Failed</h5>
                            <span class="text-white">
                                Unsuccessful Payment Attempt
                            </span>
                        </div>
                        <div class="card-block">
                            <div class="container text-white">
                                <p class="text-center text-white">
                                    We're sorry, it looks like your payment attempt was unsuccessful.
                                    @*Here's what we know about why this happened:*@
                                </p>

                                <div class="text-center m-15">
                                    <span>Error Description: <strong><strong id="errorDescription"></strong>(<span id="errorCode">@Model.sResponse</span>)</strong></span><br />
                                    <a style="margin-top: 15px;" href="javascript:void(0);" class="btn btn-primary btn-print-invoice m-b-10 btn-sm waves-effect waves-light m-r-20" onclick="Retry()">
                                        Retry Payment&nbsp;&nbsp;<i class="icofont icofont-arrow-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="card-succeeded" class="hide">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="text-white">Transaction Success</h5>
                            <span class="text-white">
                                Successful Payment Attempt
                            </span>
                        </div>
                        <div class="card-block">
                            <div class="container text-white">
                                <p class="text-center text-white">
                                    Congratulations! Your payment was successful
                                </p>

                                <div class="text-center m-15">
                                    <span>Narration: <strong><strong id="successDescription"></strong>(<span id="successCode"></span>)</strong></span><br />
                                    <a style="margin-top: 15px;" href="javascript:void(0);" class="btn btn-success btn-print-invoice m-b-10 btn-sm waves-effect waves-light m-r-20 md-trigger" data-modal="modal-2">
                                        Complete Registration&nbsp;<i class="icofont icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="transfer-succeeded" class="hide">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="text-white">Transaction Success</h5>
                            <span class="text-white">
                                Payment via Transfer Successful
                            </span>
                        </div>
                        <div class="card-block">
                            <div class="container text-white">
                                <p class="text-center text-white">
                                    Congratulations! Your payment was successful
                                </p>

                                <div class="text-center m-15">
                                    <span>Narration: <strong><strong id="successDescription">Transfer Confirmed</strong>(<span id="successCode">T01</span>)</strong></span><br />
                                    <a style="margin-top: 15px;" href="javascript:void(0);" class="btn btn-success btn-print-invoice m-b-10 btn-sm waves-effect waves-light m-r-20 md-trigger" data-modal="modal-2">
                                        Complete Registration&nbsp;<i class="icofont icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    input, select {
                        font-size: 12px !important;
                    }

                    .float-label {
                        color: #333 !important;
                    }

                    .hide {
                        display: none !important;
                    }
                </style>

                <div class="md-modal md-effect-2" id="modal-2">
                    <div class="md-content">
                        <div style="padding: 15px 15px 1px 15px;">
                            <div class="steps">

                            </div>

                            <div class="form1" style="position: relative; top: 9px;">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Image Upload</h5>
                                        <p>Select a profile image to upload, crop into passport and save</p>
                                    </div>
                                    <div class="card-block">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="image-cropper-container" style="width: 100%; min-height: 300px;">
                                                        <img id="image" src="#" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <div class="col-md-12 docs-buttons button-page">

                                                    <div class="pull-right">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="btn-group">
                                                                    <button type="button" id="cropImage" class="btn btn-danger btn-sm md-close">
                                                                        <i class="fas fa-times"></i>&nbsp;Cancel
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-8 text-right">
                                                                <div class="btn-group">
                                                                    <label class="btn btn-primary btn-upload btn-sm" for="inputImage" style="height: 28px;" title="Upload image file">
                                                                        <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="Select an image to crop">
                                                                            <span class="fa fa-upload"></span> Select an Image
                                                                        </span>
                                                                    </label>
                                                                </div>

                                                                <div class="btn-group">
                                                                    <button type="button" id="cropImage" class="btn btn-primary btn-sm" data-method="getCroppedCanvas">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="Preview and Save Image">
                                                                            <i class="fas fa-eye"></i>&nbsp;Crop Image
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Show the cropped image in modal -->
                                                    <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title pull-left" id="getCroppedCanvasTitle">Save Image</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body text-center" style="overflow-x: auto;"></div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                                                        <i class="fas fa-times"></i>Close
                                                                    </button>
                                                                    <a class="btn btn-primary btn-sm" id="download" href="javascript:void(0);" data-dismiss="modal">
                                                                        <i class="fas fa-upload"></i>Save Image
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form2 hide" style="position: relative; top: 9px;">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Registration Completion</h5>
                                    </div>
                                    <div class="card-block">
                                        <form class="form-material">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-info form-static-label">
                                                        <input type="text" name="address" id="address" class="form-control" required="" autocomplete="off">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Address</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <br />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-info form-static-label hide">
                                                        <select name="Country" id="Country" class="form-control form-control-primary">
                                                            <option selected="selected" value="-1"> Nigeria </option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Country</label>
                                                    </div>
                                                    <div class="form-group form-info form-static-label">
                                                        <select name="StateId" id="StateId" class="form-control form-control-primary">
                                                            <option selected="selected" value="-1"> == Select One == </option>
                                                            <option value="38">Zamfara</option>
                                                            <option value="37">Yobe</option>
                                                            <option value="36">Taraba</option>
                                                            <option value="35">Sokoto</option>
                                                            <option value="34">Rivers</option>
                                                            <option value="33">Plateau</option>
                                                            <option value="32">Oyo</option>
                                                            <option value="31">Osun</option>
                                                            <option value="30">Ondo</option>
                                                            <option value="29">Ogun</option>
                                                            <option value="28">Niger</option>
                                                            <option value="27">Nasarawa</option>
                                                            <option value="26">Lagos</option>
                                                            <option value="25">Kwara</option>
                                                            <option value="24">Kogi</option>
                                                            <option value="23">Kebbi</option>
                                                            <option value="22">Katsina</option>
                                                            <option value="21">Kano</option>
                                                            <option value="20">Kaduna</option>
                                                            <option value="19">Jigawa</option>
                                                            <option value="18">Imo</option>
                                                            <option value="17">Gombe</option>
                                                            <option value="39">Federal Capital Territory</option>
                                                            <option value="16">Enugu</option>
                                                            <option value="15">Ekiti</option>
                                                            <option value="14">Edo</option>
                                                            <option value="13">Ebonyi</option>
                                                            <option value="12">Delta</option>
                                                            <option value="11">Cross River</option>
                                                            <option value="10">Bornu</option>
                                                            <option value="9">Benue</option>
                                                            <option value="8">Bayelsa</option>
                                                            <option value="7">Bauchi</option>
                                                            <option value="6">Anambra</option>
                                                            <option value="5">Akwa Ibom</option>
                                                            <option value="4">Adamawa</option>
                                                            <option value="3">Abia</option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">State</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-info form-static-label">
                                                        <select name="CityId" id="CityId" class="form-control form-control-primary">
                                                            <option value="-1">City</option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">State</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <br />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-info form-static-label">
                                                        <select name="IDTypeId" id="IDTypeId" class="form-control form-control-primary">
                                                            <option selected="selected" value="-1"> == Select One == </option>
                                                            <option value="4">Company ID</option>
                                                            <option value="3">Drivers' License</option>
                                                            <option value="2">International Passport</option>
                                                            <option value="5">National ID Card</option>
                                                            <option value="6">Others</option>
                                                            <option value="1">Voters Card</option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">ID Type</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-info form-static-label" style="top: -6px;">
                                                        <input type="text" name="IDNo" id="IDNo" class="form-control" required="" autocomplete="off">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">ID Number</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <br />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-info form-static-label">
                                                        <select name="MaritalStatus" id="MaritalStatus" class="form-control form-control-primary">
                                                            <option selected="selected" value="-1"> == Select One == </option>
                                                            <option value="1">Single</option>
                                                            <option value="2">Married</option>
                                                            <option value="3">Divorced</option>
                                                            <option value="4">Widowed</option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Marital Status</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-info form-static-label">
                                                        <select name="Gender" id="Gender" class="form-control form-control-primary">
                                                            <option selected="selected" value="-1"> == Select One == </option>
                                                            <option value="1">Male</option>
                                                            <option value="2">Female</option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Gender</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="text-right">
                                                        <a class="btn btn-danger btn-sm waves-effect" href="javascript:void(0);" onclick="ShowImageUploadForm()">
                                                            <i class="fas fa-arrow-left"></i>&nbsp;Back
                                                        </a>
                                                        <a class="btn btn-primary btn-sm waves-effect" href="javascript:void(0);" onclick="ShowRegistrationStatus()">
                                                            Next &nbsp;<i class="fas fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="form3 hide" style="position: relative; top: 9px;">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Registration In progress</h5>
                                    </div>
                                    <div class="card-block">
                                        <p class="text-center waiting">
                                            Please wait while we create your account...<br />
                                            <img src="~/Content/Images/loading-balls.svg" style="width: 40px;" />
                                        </p>

                                        <div class="registration-result hide">
                                            <p class="alert alert-success text-center">Account created successfully!</p>
                                            <br />

                                            <p>
                                                Dear @Model.FirstName, Your account has been created successfully. Please note that your access to care begins in <span class="text-primary">14 days</span>.<br /><br />
                                                A confirmation email has been sent to your email - <span id="customer-email" class="text-primary"></span>. Please follow the link to choose a password and login to your profile area.<br /><br />
                                                Thank you for choosing Hygeia.
                                            </p>

                                            <p class="text-primary">Live more life!</p>
                                            @*<a href="https://online.hygeiahmo.com/hyenrollee/Account/ChoosePassword/@Model.Id/@Request.QueryString["guid"]">
                                                    https://online.hygeiahmo.com/hyenrollee/Account/ChoosePassword/@Model.Id/@Request.QueryString["guid"]
                                                </a>*@

                                        </div>

                                        <div class="registration-result-failed hide">
                                            <div class="alert alert-danger">
                                                Dear @Model.FirstName, It looks like something went wrong creating your account; please be patient while we check, someone will reach out to you shortly.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-overlay"></div>
            </div>
        </div>
    </div>
</div>

<a class="hide" data-url="@Url.Action("PaymentDetails", "Products")" id="dataURL"></a>
<a class="hide" data-url="@Url.Action("ReQuery", "Products")" id="requeryURL"></a>
<a class="hide" data-url="@Url.Action("UpdatePaymentDetails", "Products")" id="saveURL"></a>
<a class="hide" data-url="@Url.Action("Payment", "Products")" id="paymentURL"></a>
<a class="hide" data-url="@Url.Action("UploadCustomerImage", "Products")" id="saveImageURL"></a>
<a class="hide" data-url="@Url.Action("UpdateCustomerData", "Products")" id="saveDataURL"></a>

<a id="load-city-url" data-url="@Url.Action("LoadCities", "Products")"></a>

@section scripts{

    <!-- Cropper js -->
    <script src="~/Content/files/bower_components/cropper/js/cropper.min.js"></script>
    <script src="~/Content/App/js/croper1.js"></script>
    <!-- Select 2 js -->
    <script type="text/javascript" src="~/Content/files/bower_components/select2/js/select2.full.min.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    @*<script src="~/Content/App/js/croper.js"></script>*@
    <script>

        var error = "@Model.Error";
        var retailCustomerId = "@Model.Id";
        var d = {
            Id: "@Model.Id",
            Date: "@Model.Date",
            LastName: "@Model.LastName",
            FirstName: "@Model.FirstName",
            OtherName: "@Model.OtherName",
            PlanId: "@Model.PlanId",
            ProductId: "@Model.ProductId",
            sPaymentReference: "@Model.sPaymentReference",
            TransactionReference: "@Model.TransactionReference",
            MacKey: "@Model.MacKey",
            Amount: "@Model.Amount",
            PaymentMethod: "@Model.PaymentMethod",
            AmountSent: "@Model.AmountSent",
            Date: "@Model.Date",
            TransferConfirmed: "@Model.TransferConfirmed",
            MemberId: "@Model.MemberId",
            RegistrationDate: "@Model.RegistrationDate",
            Response: "@Model.sResponse",
            Description: "@Model.sDescription"//,
            //RequeryResponse: "@Model.RequeryResponse"
        };
        try {
            var memberId = parseInt(d.MemberId);
            console.log(memberId);
            if (!isNaN(memberId) && memberId != 0) {
                alert('Your registration is complete. Please check your email and login');
                location.href = "https://online.hygeiahmo.com/hydirect";
            }
        } catch (e) { }

        $('#StateId').on('change', function () {
            GetCities();
        });
        function GetCities() {
            $('#CityId').addClass('disabled').attr('disabled', 'disabled');
            url = $('#load-city-url').data('url');

            $.ajax({
                url: url + "?StateId=" + $('#StateId').val(),
                type: "Get",
                //data: '{ "StateId" : "' + $('#StateId').val() + '" }',
                success: function (data) {

                    try { data = $.parseJSON(data); } catch (e) { }

                    $('#CityId').removeClass('disabled').removeAttr('disabled');
                    var options = "";
                    for (var i = 0; i < data.length; i++) {
                        options += "<option value='" + data[i].stateId + "'>" + data[i].stateName + "</option>";
                    }
                    $('#CityId').html(options)
                },
                error: function (msg) {
                    console.log(msg);
                    $('#CityId').removeClass('disabled').removeAttr('disabled');
                }
            });
        }
        function ShowImageUploadForm() {
            $('.form2').addClass('hide');
            $('.form1').removeClass('hide');
        }
        function ShowDataForm() {
            $('.form1').addClass('hide');
            $('.form2').removeClass('hide');
        }
        function ShowRegistrationStatus() {

            var Address = $('#address').val();
            if (Address == '') {
                alert('Please provide a value for address');
                return;
            }
            var State = $('#StateId').val();
            if (State == '-1') {
                alert('Please provide a value for State');
                return;
            }
            var City = $('#CityId').val();
            if (City == '-1') {
                alert('Please provide a value for State');
                return;
            }
            var IDTypeId = $('#IDTypeId').val();
            console.log(IDTypeId);
            if (IDTypeId == '-1') {
                alert('Please provide a value for ID Type');
                return;
            }
            var IDNo = $('#IDNo').val();
            if (IDNo == '') {
                alert('Please provide a value for IDNo');
                return;
            }
            var MaritalStatus = $('#MaritalStatus').val();
            if (MaritalStatus == '-1') {
                alert('Please provide a value for Marital Status');
                return;
            }
            var Gender = $('#Gender').val();
            if (Gender == '-1') {
                alert('Please provide a value for Gender');
                return;
            }

            $('.form2').addClass('hide');
            $('.form3').removeClass('hide');

            var guid = getParameterByName('guid');
            $.ajax({
                type: 'POST',
                url: $('#saveDataURL').data('url'),
                data: '{ "CustomerId" : "' + d.Id + '", "Address" : "' + Address + '", "Country" : "1", "City" : "'
                    + City + '", "State" : "' + State + '", "IDTypeId" : "' + IDTypeId + '", "IDNo" : "' + IDNo + '", "MaritalStatus" : "'
                    + MaritalStatus + '", "Gender" : "' + Gender + '", "Guid" : "' + guid + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (re) {
                    try { re = $.parseJSON(re); } catch (e) { }
                    console.log(re);

                    $('.waiting').addClass('hide');
                    if (re.Success === true) {
                        $('#customer-email').text(re.Email);
                        $('.registration-result').removeClass('hide');
                    } else {
                        console.log(re.Response);
                        $('.registration-result-failed').removeClass('hide');
                    }
                }
            });
        }
        $('#download').click(function (event) {
            event.preventDefault();
            ShowDataForm();

            var img = document.getElementsByTagName("canvas")[0];
            var imgs = img.toDataURL("image/png");
            imgs = imgs.replace('data:image/png;base64,', '');

            $.ajax({
                type: 'POST',
                url: $('#saveImageURL').data('url'),
                data: '{ "imageData" : "' + imgs + '", "destination" : "' + d.Id + '.png" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (re) {
                }
            });
        });
        $(document).ready(function () {
            $('.form2').addClass('hide');

            if (error.length > 5) {
                if (confirm(error + ". Do you want to retry now?")) {
                    location.href = window.location.href;
                    return false;
                }
            }

            console.log(d);

            if (d.PaymentMethod == 7) {

                // Card Payment
                //d.Response = "00";
                //reQueryTransaction(d);
                //d.RequeryResponse = d.RequeryResponse.split(',');

                if (d.Response === "00") {
                    // Card Payment Successfull
                    $('#successCode').text(d.Response);
                    $('#successDescription').text(d.Description);
                    $('#card-succeeded').removeClass('hide');
                }
                else {
                    // Payment failed
                    $('#errorCode').text(d.Response);
                    $('#errorDescription').text(d.Description);
                    $('#card-failed').removeClass('hide');
                }
            }
            else if (d.PaymentMethod == 4) {
                if (d.TransferConfirmed === 'True') {
                    // Online Transfer Successfull
                    DisplayTransferSuccess(d);
                }
                else {
                    DisplayTransferPending(d);
                }
            }
            else {
                alert('Uncaptured Payment Scenario');
            }
        });
        function reQueryTransaction(d) {

            var hashString = d.ProductId + d.TransactionReference + d.MacKey;
            var hash = CryptoJS.SHA512(hashString);
            $.ajax({
                type: 'POST',
                url: $('#requeryURL').data('url'),
                data: '{ "transactionreference" : "' + d.TransactionReference + '", "amount" : "' + d.AmountSent + '", "hash" : "' + hash.toString() + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (re) {
                    re = $.parseJSON(re);

                    console.log(re);

                    return;

                    if (re.MerchantReference == undefined) {
                        alert('Failed! Error: ' + re.ResponseDescription);
                        // Show retry button to reQuery Transaction
                        return;
                    }

                    var guid = getParameterByName('guid');
                    retailCustomerId = d.Id;
                    $.ajax({
                        type: 'POST',
                        url: $('#saveURL').data('url'),
                        data: '{ "amount" : "' + re.Amount + '","resp" : "' + re.ResponseCode + '","desc" : "' + re.ResponseDescription + '","transactionDate" : "' + re.TransactionDate + '","customerId" : "' + d.Id + '", "UniqueId" : "' + guid + '" }',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                            if (re.ResponseCode === "00") {
                                // Card Payment Successfull
                                $('#successCode').text(re.ResponseCode);
                                $('#successDescription').text(re.ResponseDescription);
                                $('#card-succeeded').removeClass('hide');
                            }
                            else {
                                // Payment failed
                                $('#errorCode').text(re.ResponseCode);
                                $('#errorDescription').text(re.ResponseDescription);
                                $('#card-failed').removeClass('hide');
                            }
                        }
                    });
                }
            });
        }

        function DisplayTransferSuccess(data) {
            $('#transfer-succeeded').removeClass('hide');
        }
        function DisplayTransferPending(data) {
            // Transfer Method Chosen
            // Inform customer that this process usually takes up to 24 hours. If in that time you have not been contacted, you can send
            // an email to hycare@hygeiahmo.com with the subject Purchase Confirmation Request - Transaction Reference
        }
        function DisplayTransferFailed(data) {
            //$(".firstname").text(d.Firstname);
        }

        function DisplayCardSuccess(data) {
            //$(".firstname").text(d.Firstname);
        }
        function DisplayCardPending(data) {
            //$(".firstname").text(d.Firstname);
        }
        function DisplayCardFailed(data) {
            //$(".firstname").text(d.Firstname);
        }

        function Retry() {
            var guid = getParameterByName('guid');
            location.href = $('#paymentURL').data('url') + "/" + retailCustomerId + "/?guid=" + guid;
        }
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

    </script>
}



