﻿@using HyAdmin.Models.ViewModels
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Semi.cshtml";
}


<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Payments Options</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Purchase</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <!-- Page body start -->
            <div class="page-body">

                <div class="row">
                    <div class="col-sm-12 invoice">

                        <!-- Invoice card start -->
                        <div class="card">
                            <div class="row invoice-contact">
                                <div class="col-md-8">
                                    <div class="invoice-box row">
                                        <div class="col-sm-12">
                                            <table class="table table-responsive invoice-table table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img src="~/Content/Images/logo.png" class="m-b-10" style="" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hygeia HMO Ltd</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            214 Broad Street,
                                                            Floors 6 & 7, Elephant House,
                                                            Lagos Island, Lagos
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="mailto:demo@gmail.com" target="_top">hycare@hygeiahmo.com</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>0700 494342 466</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row invoive-info">
                                    <div class="col-md-4 col-xs-12 invoice-client-info">
                                        <h6>Client Information :</h6>
                                        <h6 class="m-0" id="name"></h6>
                                        <p class="m-0" id="phone"></p>
                                        <p id="email"></p>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <h6>Order Information :</h6>
                                        <table class="table table-responsive invoice-table invoice-order table-borderless">
                                            <tbody>
                                                <tr>
                                                    <th>Date :</th>
                                                    <td id="date"></td>
                                                </tr>
                                                <tr>
                                                    <th>Status :</th>
                                                    <td>
                                                        <span class="label label-warning">Pending</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Id :</th>
                                                    <td id="planid"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <h6 class="m-b-20 text-capitalize">Plan Name <strong id="plan" class="text-uppercase text-primary"></strong></h6>
                                        <h6 class="m-b-20 text-capitalize">Transaction Reference <strong id="ref"></strong></h6>
                                        <h6 class="m-b-20">Invoice Number <strong id="invoice"></strong></h6>
                                        <h6 class="text-uppercase text-primary">
                                            Amount :
                                            <span id="amount"></span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table  invoice-detail-table">
                                                <thead>
                                                    <tr class="thead-default">
                                                        <th>Description</th>
                                                        <th>Quantity</th>
                                                        <th>Amount</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h6 id="plan2"></h6>
                                                        </td>
                                                        <td>1</td>
                                                        <td id="amount2"></td>
                                                        <td id="amount3"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive invoice-table invoice-total">
                                            <tbody>
                                                <tr>
                                                    <th>Sub Total :</th>
                                                    <td id="amount4"></td>
                                                </tr>
                                                <tr>
                                                    <th>Convenience :</th>
                                                    <td id="convenience"></td>
                                                </tr>
                                                <tr class="text-info">
                                                    <td>
                                                        <hr />
                                                        <h5 class="text-primary">Total Due:</h5>
                                                    </td>
                                                    <td>
                                                        <hr />
                                                        <h5 class="text-primary" id="total"></h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="animation-model">
                                            <h6>Terms And Condition :</h6>
                                            <p>
                                                Please ensure you have read and understood the <a class="waves-effect md-trigger text-primary" id="mdl-terms" style="font-size: 13px; top: 4px;" data-modal="terms">Terms &amp; Conditions</a> of the policy on the contract and also on the schedule of benefits and bind yourself accordingly to them.
                                            </p>
                                            <style>
                                                strong {
                                                    font-weight: bold;
                                                }
                                            </style>
                                            <div class="md-modal md-effect-14" id="terms">
                                                <div class="md-content modal-lg">
                                                    <h3>Terms &amp; Conditions</h3>
                                                    <div style="font-size: 12px;">
                                                        <div style="max-height: 250px; overflow-y: scroll;">
                                                            <h2 class="text-center">TERMS &amp; CONDITIONS</h2>
                                                            <h4>Access Rights</h4>
                                                            <p>This refers to the right an Enrolee will have to any category of Provider/Hospital upon buying a plan. Access right for each plan is as indicated on the face of the Benefit Schedule of the respective plans.</p>
                                                            <br />

                                                            <h4>Specific Conditions</h4>
                                                            <strong>All HyBasic and HyStarter Plans</strong>
                                                            <ul>
                                                                <li>The maximum age limit for Principal and Dependant is 50 years and 18 years respectively.</li>
                                                                <li>Surgeries, Cancer Care and Psychiatric Care have one year waiting period  and will not be covered or provided in the first year of the commencement of any of the plans. On renewal, these benefits will be accessible provided the enrollee remains enrolled with Hygeia HMO for a period of one consecutive year.</li>
                                                                <li>The following benefits will not be covered or provided for in the first 3 months of the commencement of any of the plans: Optical Care, Dental Care.</li>
                                                            </ul>
                                                            <br />

                                                            <strong>Senior Citizens Plan</strong>
                                                            <ul>
                                                                <li>Applicable to persons between 51-85 Years</li>
                                                                <li>Optical and Dental Care has a three months waiting period and therefore will not be covered or provided for in the first three months of commencement of any of the plans</li>
                                                                <li>Monthly drug refills for chronic illnesses will not be covered or provided for in the first two months of the commencement of any of the plans</li>
                                                                <li>Surgeries, Cancer Care and Psychiatric Care have a one year waiting period and thus will not be covered or provided in the first year of the commencement of any of the plans. On renewal, these benefits will be accessible provided the enrollee remains enrolled with Hygeia HMO for a period of one consecutive year.</li>
                                                                <li>There is no waiting period for Intensive care Services</li>
                                                                <li>Enrollees will enjoy 5% discount on premium paid upon renewal where there is no utilization in the previous year.</li>
                                                            </ul>
                                                            <br />

                                                            <strong>HyPrime Plans</strong>
                                                            <ul>
                                                                <li>Maximum age for each enrolee is 50 years</li>
                                                                <li>The following benefits will not be covered or provided in the first year of the commencement of the scheme: Surgeries, CancerCare and PsychiatricCare. This period otherwise known as waiting period shall commence on the date of entry to the date of renewal. On renewal, this benefit will be accessible provided the enrollee has been enrolled for one year with the HMO.</li>
                                                                <li>The following benefits will not be covered or provided in the first 6 months of the commencement of the scheme: Neonatal CareServices and all Immunisations</li>
                                                                <li>The following benefits will not be covered or provided in the first 3 months of the commencement of the scheme: OpticalCare, Dental Care</li>
                                                            </ul>

                                                            <h4>General Conditions: Applies to All Plans</h4>
                                                            <div>
                                                                <strong>Cover Limit.</strong>
                                                                The overall cover limit refers to the maximum annual reimbursement by Hygeia HMO to cater for the care and treatment of the enrollee. These limits are plan and provider category specific. Specific monetary or benefit limits may apply for specific services such as optical, dental and surgical procedures. In addition, some services are capped or restricted based on length of stay or number of procedures dispensed.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Waiting period</strong>
                                                                means that period of time commencing on the date of commencement of the plan during which an Enrollee is required to wait to be entitled to benefit for a particular condition. In addition to specific waiting periods for the respective plans, all plans are subject to a two weeks waiting period after registration. Therefore, a plan purchased becomes active 14 days after completion of registration.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Right to cancel Policy</strong>
                                                                Hygeia is at liberty to cancel the cover of any Insured Person(s) who has/have misled it or breached any term of this Agreement, given incorrect, incomplete or misleading information, failed to provide any reasonable information which Hygeia requested, conspired with a third party to obtain undue benefit from this Policy, or submitted a claim which is in any respect fraudulent or unfounded. In any of these circumstances Hygeia shall have the right to cancel the insured persons cover from the date of commencement (without refund of any portion of the unused premium) and recover from him/her any benefit it might have paid/earned in relation to such claim.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Cancellation/Termination at an Enrolees Instance</strong>
                                                                is only possible within the first 30 days of the commencement of the policy. An Enrollee that decides to cancel/terminate this Health Insurance Policy must notify Hygeia HMO in writing and the Enrolee shall be entitled to a refund of the premium paid less (1) any amounts incurred on their behalf as medical and other expenses (2) an administrative charge of 20% of the premium paid. No refund shall apply in case of termination/cancellation made by an Enrolee after 30 days of the commencement of the policy.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Cancellation/Termination at our Instance</strong>
                                                                Similarly, Hygeia HMO may terminate the Policy by sending 30 days' notice by registered letter to an enrolee at their last known address or via electronic means to their known e-mail address indicated to it at any time and in such event, Hygeia HMO will refund to the Enrolee an amount equal to the pro-rata value of their unused premium. Unused premium refers to the difference between the premium paid and the medical cost incurred as at the effective date of termination which includes amounts reported and amounts yet to be reported but which were incurred prior to the date of termination.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Treatment prior to Date of Commencement</strong>
                                                                Hygeia will not cover or pay for any treatment that was given before an Enrollee's commencement date of cover or after cancellation/termination of cover or during any period for which Hygeia is yet to receive premiums.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Treatment that is not covered under the Benefit Schedule</strong>
                                                                Hygeia will not cover or pay for any treatment that is not specifically covered under the Benefit Schedule of the Policy. Hygeia will not cover nor pay for other conditions or procedures which are not specified as covered services in the schedule of benefits for each plan. Similarly, all plans do not cover Consultations with unrecognized/un-orthodox consultants, hospitals, family doctors, therapists, dental practitioners or complementary medicines practitioners. In the same vein, complications from such unrecognized/un-orthodox places are not covered under any of the plans.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Transferability</strong>
                                                                The plans are person specific and non-transferable.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Confidentiality</strong>
                                                                Hygeia is committed to protecting the information of its Enrollees and it is bound by law and regulatory standards to maintain the privacy of its Enrollees' medical information and records. Hygeia also holds its employees, providers and consultants and business associates to strict policies and procedures protecting Enrollees information. The Information collected from an Enrollee at enrolment and other transactions would include an Enrollee's bio-data as well as an Enrollee's medical information through claims and utilization data submitted from healthcare providers. Hygeia can also access an Enrollee’s medical records in furtherance of its role under the health plans and you hereby consent to our access of your medical records and information accordingly.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Categorization of Healthcare facilities</strong>
                                                                Healthcare Providers are categorized by Hygeia for the benefit of ease of access to care by its Enrollees. Hygeia reserves the right to review this categorization from time to time without prior recourse to an Enrollee. This could include (but not limited to) the addition and deletion of healthcare providers from the general list and/or from a specific plan provider list. An Enrollee will however always have access to a number of healthcare facilities within their applicable Hygeia network of Providers.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Liability</strong>
                                                                Hygeia shall not be liable for any damages or losses that may arise from an Enrollees failure to pay premiums as and when due. Hygeia shall however ensure that its medical service providers provide all covered services in accordance with generally accepted clinical standards. Hygeia shall therefore enter into Standard Agreements with its service providers for the protection of the beneficiaries/Enrollees.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Refunds</strong>
                                                                Enrolees are required to access care within Hygeia HMO’s network of Providers and not pay out of pocket for covered services. In the odd event that an enrolee has to pay out of pocket, prior approval of Hygeia HMO must be obtained through its contact centre and a refund will be made by Hygeia HMO upon the enrolee providing the following documents within 30 days of encounter: (1) copy of medical report from the Health care practitioner indicating history of the medical condition, diagnosis and treatment administered, (2) Original Receipt for having made payment indicating the costs separately for consultation, each investigation, each procedure and each Drug and the quantity dispensed, (3)Pre-authorisation number received from Hygeia HMO<br />
                                                                All refunds will be made only into the principal enrolees designated account based only on medical necessity as might be reviewed by Hygeia’s in-house medical practitioners and only at Hygeia HMO’s designated/customary rate irrespective of the cost of care. Also, refunds are only applicable where same is processed and paid before receipt by Hygeia HMO of the notice to terminate or expiration of a plan.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Supply of drugs &amp; medication </strong>
                                                                all enrolees are covered for drugs recommended in the course of their treatment for covered services except for excluded items. As a standard, Enrolees shall be prescribed generic drugs except where no generic option exists, in which case, prior approval will be sought by the provider to dispense such medication.
                                                                In the event that the provider or enrollee prefers a branded option where a generic option is available, such option may be paid for directly by the enrollee to the provider. Kindly note that where the provider does not maintain a stock of generic medications, a prescription should be collected and the generic medication taken from a pharmacy for which Hygeia HMO will be responsible.
                                                            </div>
                                                            <br />
                                                            <div>
                                                                <strong>Notices or Demands</strong>
                                                                Any notices or demands required to be given under this Agreement, or given in connection with it, shall be in writing and shall be given by electronic means. Should the Enrollee require or where Hygeia deems same expedient, such notice can also be issued in hard copy and delivered by personal delivery or courier service delivery to the last known address of the other party. Changes in address has to be communicated to the other party otherwise, notifications will continue to be delivered to the last known address and remain legally enforceable. Hygeia can be contacted at any time through its Hycare Service Centre: 0700 HYGEIA HMO (0700 494342 466); hycare@hygeiahmo.com
                                                            </div>
                                                        </div>

                                                        <hr />
                                                        <div id="affirmation" class="text-danger">
                                                            ** By clicking the 'Yes, Accepted' button, you hereby affirm that the information provided is entered correctly and truthfully.
                                                            You also affirm that you have read and understood the terms and conditions of the
                                                            policy on the contract and also on the schedule of benefits and bind yourself accordingly to them.
                                                        </div>
                                                        <br />

                                                        <div class="text-center">
                                                            <button type="button" class="btn btn-success waves-effect md-close accept-terms">Yes, Accepted&nbsp;<i class="fa fa-check"></i></button>
                                                            <button type="button" class="btn btn-danger waves-effect md-close" onclick="RejectTerms()">No, I Disagree&nbsp;<i class="fa fa-times"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="md-overlay"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" style="float: right;" class="btn btn-primary btn-print-invoice m-b-10 btn-sm waves-effect waves-light pull-right md-trigger" data-modal="terms">
                                            Proceed&nbsp;<i class="fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Invoice card end -->
                        @*<div class="row text-center">
                                <div class="col-sm-12 invoice-btn-group text-center">
                                    <button type="button" class="btn btn-primary btn-print-invoice m-b-10 btn-sm waves-effect waves-light m-r-20">Print</button>
                                    <button type="button" class="btn btn-danger waves-effect m-b-10 btn-sm waves-light">Cancel</button>
                                </div>
                            </div>*@

                    </div>

                    <div class="col-sm-4 payment hide">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Pay Online</h5>
                            </div>
                            <div class="card-block accordion-block">
                                <p>
                                    You can choose to pay online using any of our accepted cards listed below. Please check to make sure the amount due does not exceed your daily card limit. You can use the tranfer option if this is the case<br />
                                    <br />
                                </p>
                                <p>
                                    <img src="https://online.hygeiahmo.com/hydirect/pages/img/interswitch.png" alt="Interswitch" style="width: 100px; border: 1px solid #cecece; border-radius: 6px;">
                                    <img src="https://online.hygeiahmo.com/hydirect/pages/img/mastercard.png" alt="Mastercard" style="width: 67px; border: 1px solid #cecece; border-radius: 6px;">
                                    <img src="https://online.hygeiahmo.com/hydirect/pages/img/verve.png" alt="Verve" style="width: 118px; border: 1px solid #cecece; border-radius: 6px;">
                                    <img src="https://online.hygeiahmo.com/hydirect/pages/img/visa.jpg" alt="Visa" style="width: 92px; border: 1px solid #cecece; border-radius: 6px;">
                                </p>
                            </div>

                            <a href="javascript:void(0)" onclick="DoPay()" class="btn btn-primary btn-block m-b-10 waves-effect waves-light m-r-20">
                                Pay Now
                            </a>
                        </div>

                        <br />


                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Transfer</h5>
                            </div>
                            <div class="card-block accordion-block">
                                <div class="transfer-block-1">
                                    <p>
                                        Click the button below to reveal the transfer details<br />
                                    </p>

                                    <a href="javascript:void(0)" onclick="ShowTranferDetails()" class="btn btn-primary btn-block m-b-10 waves-effect waves-light m-r-20">
                                        View Transfer Details
                                    </a>
                                </div>

                                <div class="transfer-block-2 hide">
                                    <div class="email-sec">
                                        <p class="text-danger">
                                            Please note that you must supply your <b><u>"Transaction Reference"</u></b>
                                            (shown below) on the remark/description/memo field provided on your bank's transfer page in order for us to
                                            quickly identify your payment.
                                        </p><br /><br />

                                        <div class="form-group">
                                            <label>Account/Payment Details</label>
                                            <blockquote style="border-left: 5px solid #00c0ef !important; padding-left: 10px;">
                                                <div style="display: inline-block; width: 250px;">Transaction Reference: </div>
                                                <strong><span id="transfer-reference"></span></strong>
                                                <br>
                                                <div style="display: inline-block; width: 250px;">Amount Due: </div>
                                                <strong><span id="transfer-amout"></span></strong>
                                                <hr>
                                                <div style="display: inline-block; width: 250px;">Bank Name: </div>
                                                <strong>Skye Bank</strong><br>
                                                <div style="display: inline-block; width: 250px;">Account Name: </div>
                                                <strong>4010008585</strong><br>
                                                <div style="display: inline-block; width: 250px;">Account Number: </div>
                                                <strong>Hygeia HMO Ltd</strong>
                                            </blockquote>
                                        </div>
                                    </div>
                                    Please note that your policy will be created within 48 hours of receipt of payment.<br>
                                    <br>
                                    You can email
                                    the account information/payment details to yourself if you are not ready to perform the transfer right now.

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <input type="text" id="user-email" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-block btn-sm btn-print-invoice m-b-10 waves-effect waves-light m-r-20 email-transfer-details">Send It&nbsp;<i class="fa fa-envelope"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="hide" id="Id"></p>
<p class="hide" id="guid"></p>

<style>
    strong {
        font-weight: bold;
    }

    .hide {
        display: none !important;
    }

    .btn-sm {
        height: 32px !important;
    }
</style>

<a class="hide" data-url="@Url.Action("PaymentDetails", "Products")" id="dataURL"></a>
<a class="hide" data-url="@Url.Action("SavePaymentDetails", "Products")" id="saveURL"></a>
<a class="hide" data-url="@Url.Action("PaymentComplete", "Products")" id="completeURL"></a>
<a class="hide" data-url="@Url.Action("AcceptTerms", "Products")" id="acceptURL"></a>
<a class="hide" data-url="@Url.Action("RejectTerms", "Products")" id="rejectURL"></a>
<a class="hide" data-url="@Url.Action("UpdatePaymentType", "Products")" id="paymentURL"></a>
<a class="hide" data-url="@Url.Action("CardPayment", "Products")" id="cardPaymentURL"></a>
<a class="hide" data-url="@Url.Action("EmailTransferDetails", "Products")" id="emailURL"></a>

@section scripts{
    <script src="~/Scripts/webpay.js"></script>
    <script src="~/Scripts/cryptojssha512.js"></script>
    <script>
        var d;
        var error = "@Model.Error";
        var memberId = "@Model.MemberId";

        try {
            var memberId = parseInt(memberId);
            console.log(memberId);
            if (!isNaN(memberId) && memberId != 0) {
                alert('Your registration is complete. Please login');
                //location.href = "https://online.hygeiahmo.com/hydirect";
            }
        } catch (e) { }

        $(document).ready(function () {
            if (error.length > 5) {
                if (confirm(error + ". Do you want to retry now?")) {
                    location.href = window.location.href;
                    return false;
                }
            }
            
            $.ajax({
                type: 'POST',
                url: $('#dataURL').data('url'),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    d = data;
                    console.log(d.TransferConfirmed);
                    if (d.sResponse == "00" || d.TransferConfirmed == true) {
                        var guid = getParameterByName('guid');
                        location.href = $('#completeURL').data('url') + "/" + d.Id + "/?guid=" + guid;
                    }

                    d.Amount = parseFloat(Math.round(d.Amount * 100) / 100).toFixed(2) * 100;
                    var dd = d.TransactionReference + d.ProductId + d.ItemId + d.Amount + d.Redirect + d.MacKey;
                    
                    DisplayData(d);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr);
                    location.href = location.href;
                }
            });
        });
        function doPay() {

            d.Amount = parseFloat(Math.round(d.Amount * 100) / 100);
       
            //d.Redirect = "https://online.hygeiahmo.com/pages/products-interswitch-redirect.html";
            var hashString = d.TransactionReference + d.ProductId + d.ItemId + d.Amount + d.Redirect + d.MacKey;
            var hash = CryptoJS.SHA512(hashString);

            //var hash = CryptoJS.SHA512(d.HashString);
            var iswPay = new IswPay({
                postUrl: "https://webpay.interswitchng.com/collections/w/pay",
                amount: d.Amount,
                productId: d.ProductId,
                transRef: d.TransactionReference,
                siteName: "Hygeia",
                itemId: d.ItemId,
                customerId: d.Id,
                siteRedirectUrl: d.Redirect,
                currency: "NGN",
                hash: hash,
                onComplete: function (paymentResponse) {
                    
                    var guid = getParameterByName('guid');

                    $.ajax({
                        type: 'POST',
                        url: $('#saveURL').data('url'),
                        data: '{ "amount" : "' + paymentResponse.amount + '","desc" : "' + paymentResponse.desc + '","payRef" : "' + paymentResponse.payRef
                            + '","resp" : "' + paymentResponse.resp + '","retRef" : "' + paymentResponse.retRef + '","trxn_ref" : "' + paymentResponse.txnref
                            + '","customerId" : "' + d.Id + '", "UniqueId" : "' + guid + '" }',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            location.href = $('#completeURL').data('url') + "/" + d.Id + "/?guid=" + guid;
                        }
                    });
                }
            });
        };
        function RejectTerms() {
            $.ajax({
                type: 'POST',
                url: $('#rejectURL').data('url') + "/" + $("#Id").text(),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    alert('We are sorry to see you go');
                    location.href = "https://www.hygeiahmo.com";
                }
            });
        }
        $('.accept-terms').click(function () {
            $.ajax({
                type: 'POST',
                url: $('#acceptURL').data('url') + "/" + $("#Id").text(),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $('.invoice').removeClass('col-sm-12').addClass('col-sm-8');
                    $('.payment').removeClass('hide');
                    $('html,body').animate({ scrollTop: $('.payment').offset().top - 100 }, 230);
                }
            });
        });
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        function GenerateInvoiceNumber(number) {
            switch ((number + '').length) {
                case 1:
                    return '#000000' + number;
                case 2:
                    return '#00000' + number;
                case 3:
                    return '#0000' + number;
                case 4:
                    return '#000' + number;
                case 5:
                    return '#00' + number;
                case 6:
                    return '#0' + number;
                default:
                    return '#' + number
            }
        }
        function DisplayData(d) {
            var invoice = GenerateInvoiceNumber(d.Id)
            
            $("#Id").text(d.Id);
            $("#guid").text(d.Guid);

            $("#date").text(d.Date);
            $('#invoice').text(invoice);
            $('#name').text(d.Name);
            $('#email').text(d.Email);
            $('#user-email').text(d.Email);
            $('#phone').text(d.Phone);
            $('#amount').text('₦ ' + formatNumber(d.PlanPrice));
            $('#amount2').text('₦ ' + formatNumber(d.PlanPrice));
            $('#amount3').text('₦ ' + formatNumber(d.PlanPrice));
            $('#amount4').text('₦ ' + formatNumber(d.PlanPrice));
            $('#transfer-amout').text('₦ ' + formatNumber(d.PlanPrice));
            $('#convenience').text('₦ ' + formatNumber(d.Convenience));
            $('#total').text('₦ ' + formatNumber(d.Amount / 100));
            $('#planid').text('#' + d.Id);
            $('#plan').text(d.PlanName);
            $('#plan2').text(d.PlanName);
            $('#ref').text(d.TransactionReference);
            $('#transfer-reference').text(d.TransactionReference);
        }
        function formatNumber(n) {
            n = parseFloat(n).toFixed(2);
            return Number(n).toLocaleString('en');
        }
        function ShowTranferDetails() {
            $('.transfer-block-1').addClass('hide');
            $('.transfer-block-2').removeClass('hide');
            $.ajax({
                type: 'POST',
                url: $('#paymentURL').data('url'),
                data: '{ "Id" : "' + $("#Id").text() + '", "PaymentMethod" : "4" }', // 2018-10-21 - new system follows HM_CBA_PRO.d.paymenttype
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                }
            });
        }
        function DoPay() {
            doPay();
            $.ajax({
                type: 'POST',
                url: $('#paymentURL').data('url'),
                data: '{ "Id" : "' + $("#Id").text() + '", "PaymentMethod" : "7" }', // 2018-10-21 - new system follows HM_CBA_PRO.d.paymenttype
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    //location.href = $('#cardPaymentURL').data('url') + "/" + $("#Id").text() + "/?guid=" + $("#guid").text();
                }
            });
        }
        $('.email-transfer-details').click(function () {
            $.ajax({
                type: 'POST',
                url: $('#emailURL').data('url'),
                data: '{ "name" : "' + $('#name').text() + '", "email" : "' + $('#user-email').val() + '", "amount" : "' + ('₦ ' + formatNumber(d.PlanPrice)) + '", "transactionReference" : "' + $('#transfer-reference').text() + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    alert('Please check your email for a copy of the payment details. Do not also forget to check your junk mail.');
                }
            });
        });
    </script>
}