﻿
@{
    ViewBag.Title = "Third Party Payment";
    Layout = "~/Views/Shared/_Semi.cshtml";
}

    <div class="text-center" style="width: 100%; height: 2000px; overflow: hidden; background: #FFF;">
        <h3 style="margin-top: 30px;">Third Party Payment</h3>
        <p style="width: 70%; margin: 0px auto;">
            You are being redirected to Fundgate, a licensed lender, to complete your application. Please note that Hygeia HMO has no input in this process and Fundgate solely determines eligibility for credit purposes.
            Hygeia HMO shall not be liable for the decisions of Fundgate and any resulting actions thereafter.
        </p>
        <br />
        <a class="btn btn-danger text-white" onclick="javascript:history.back()"><i class="a fa-left-arrow"></i>Back to Website</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary text-white" href="http://fundgate.ng/hygeiaHmo/@ViewBag.Id/@ViewBag.email"><i class="go fa fa-right-arrow" onclick="alert('Dee')"></i>Proceed</a>

    </div>


